#sign-in
  .page-title Sign in

  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'bp validate'}) do |f|
    - if flash[:alert] == "Your account has not been activated yet"
      .activation
        %h4 Your account has not been activated yet
        You will receive an email notification when this account has been activated by an administrator

    - elsif flash[:alert] == 'Your account has expired'
      .activation
        %h4 Your account has expired

    - elsif f.object.errors.size > 0 && (f.object.email.blank? || (f.object.email =~ /^.+@.+\..+$/).nil?)
      .validation-error
        Please enter a valid email
    - elsif flash[:alert] == "Invalid email or password."
      .validation-error
        We were unable to find an account with those credentials. Please try again.
    .split
      .left
        .wrapper
          = f.label :email
          = f.email_field :email, :class => 'validate[required,custom[email]]', :tabindex => 1, :value => "#{flash[:email] if flash[:email]}"

        .wrapper
          - if f.object.errors && f.object.errors[:password] && f.object.errors[:password].include?("can't be blank")
            .validation-error
              Please enter a password
          = f.label :password
          = f.password_field :password, :class => 'validate[required]', :tabindex => 2

        - if devise_mapping.rememberable?
          %p
            = f.check_box :remember_me, :tabindex => 3
            = f.label :remember_me, :class => 'radio-label'
      .right
        = recaptcha_tags :display => {:theme => 'white', :tabindex => 4}

    .buttons
      = f.submit "Sign in", :class => 'button', :tabindex => 5
  .sign_up_button
    = link_to 'Create a new account', new_user_registration_path, :class => 'button'
