#user-registration
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'bp'}) do |f|

    %p
      - if f.object.errors
        .validation-error
          - if f.object.first_name.blank?
            Please enter your first name
          - elsif f.object.last_name.blank?
            Please enter your last name
      = f.label :first_name
      = f.text_field :first_name, :placeholder => 'First Name', :class => 'validate[required]'
      = f.text_field :last_name, :placeholder => 'Last Name'

    %p
      = f.label :job_title
      = f.text_field :job_title

    %p
      - if f.object.errors && f.object.organization_id.blank?
        .validation-error
          Please select a Medical Center/Organization
      = f.label :organization_id, 'Medical Center / Organization'
      = f.select :organization_id, options_from_collection_for_select(Organization.all, :id, :name), :include_blank => true

    %p
      - if f.object.errors && f.object.phone.blank?
        .validation-error
          Please enter your phone number
      = f.label :phone
      = f.text_field :phone

    %p
      - if f.object.errors && (f.object.email.blank? || (f.object.email =~ /^.+@.+\..+$/).nil?)
        .validation-error
          Please enter a valid email
      = f.label :email
      = f.email_field :email
    %p
      - if f.object.errors && f.object.errors[:password]
        .validation-error
          - if f.object.errors[:password].include? "can't be blank"
            Please enter a password
          - elsif f.object.errors[:password].include? "doesn't match confirmation"
            Password and confirmation don't match. Please enter them again
      = f.label :password
      = f.password_field :password
    %p
      = f.label :password_confirmation

      = f.password_field :password_confirmation


    %p= f.submit "Register!"
