- @results ||= []
- if @results.blank?
  %h5 No Results found.
- else
  %table
    %thead
      %tr
        %td Name
        %td Medical Center / Organization
        %td Email
        %td Type
        %td Expires On

    %tbody
      - @results.each do |a|
        %tr{:class => cycle('odd', 'even')}
          %td= a.full_name
          %td= a.org_or_med_center_name
          %td= a.email
          %td= a.account_type
          %td= a.expires_at.blank? ? '-' : a.expires_at.strftime("%m/%d/%Y")
