- @results ||= []
- if @results.blank?
  %h5 No Results found.
- else
  %table
    %thead
      %tr
        %td
        - if (current_user.is_admin? && params[:field_departing]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Departing") && params[:reverse].eql?("false")
              Departing&#x25BC
            - elsif params[:sort].eql?("Departing") && params[:reverse].eql?("true")
              Departing&#x25B2
            - else
              Departing
        - if (current_user.is_admin? && params[:field_service_member]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Service Member") && params[:reverse].eql?("false")
              Service Member&#x25BC
            - elsif params[:sort].eql?("Service Member") && params[:reverse].eql?("true")
              Service Member&#x25B2
            - else
              Service Member
        - if (current_user.is_admin? && params[:field_status]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Status") && params[:reverse].eql?("false")
              Status&#x25BC
            - elsif params[:sort].eql?("Status") && params[:reverse].eql?("true")
              Status&#x25B2
            - else
              Status
        - if (current_user.is_admin? && params[:field_created]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Created") && params[:reverse].eql?("false")
              Created&#x25BC
            - elsif params[:sort].eql?("Created") && params[:reverse].eql?("true")
              Created&#x25B2
            - else
              Created
        - if (current_user.is_admin? && params[:field_submitted])
          %td.sorttable
            - if params[:sort].eql?("Submitted") && params[:reverse].eql?("false")
              Submitted&#x25BC
            - elsif params[:sort].eql?("Submitted") && params[:reverse].eql?("true")
              Submitted&#x25B2
            - else
              Submitted
        - if (current_user.is_admin? && params[:field_medical_center]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Medical Center") && params[:reverse].eql?("false")
              Medical Center&#x25BC
            - elsif params[:sort].eql?("Medical Center") && params[:reverse].eql?("true")
              Medical Center&#x25B2
            - else
              Medical Center
        - if (current_user.is_admin? && params[:field_completed]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Date Booked") && params[:reverse].eql?("false")
              Date Booked&#x25BC
            - elsif params[:sort].eql?("Date Booked") && params[:reverse].eql?("true")
              Date Booked&#x25B2
            - else
              Date Booked

        - if (current_user.is_admin? && params[:field_case_worker]) || !current_user.is_admin?
          %td.sorttable
            - if params[:sort].eql?("Case Worker") && params[:reverse].eql?("false")
              Case Worker&#x25BC
            - elsif params[:sort].eql?("Case Worker") && params[:reverse].eql?("true")
              Case Worker&#x25B2
            - else
              Case Worker

    %tbody
      - @results.each do |a|
        %tr[a]
          %td
            - if current_user.is_admin?
              %a{:href => admin_show_application_path(a)} view
            - else
              %a{:href => case_worker_show_application_path(a)} view
          - if (current_user.is_admin? && params[:field_departing]) || !current_user.is_admin?
            %td= a.formatted_final_departure_date
          - if (current_user.is_admin? && params[:field_service_member]) || !current_user.is_admin?
            %td= a.service_member_name
          - if (current_user.is_admin? && params[:field_status]) || !current_user.is_admin?
            %td= a.state.capitalize
          - if (current_user.is_admin? && params[:field_created]) || !current_user.is_admin?
            %td= a.created_at.strftime("%m/%d/%Y")
          - if (current_user.is_admin? && params[:field_submitted])
            %td= a.formatted_submission_date
          - if (current_user.is_admin? && params[:field_medical_center]) || !current_user.is_admin?
            %td= a.medical_center_name
          - if (current_user.is_admin? && params[:field_completed]) || !current_user.is_admin?
            %td= a.formatted_booking_date
          - if (current_user.is_admin? && params[:field_case_worker]) || !current_user.is_admin?
            %td= a.case_worker_name
  .split
    .left
    .right
      = paginate @results
