- @results ||= []
- if @results.blank?
  %h5 No Results found.
- else
  %table
    %thead
      %tr
        - if (current_user.is_admin? && params[:field_departing]) || !current_user.is_admin?
          %td Departing
        - if (current_user.is_admin? && params[:field_service_member]) || !current_user.is_admin?
          %td Service Member
        - if (current_user.is_admin? && params[:field_status]) || !current_user.is_admin?
          %td Status
        - if (current_user.is_admin? && params[:field_created]) || !current_user.is_admin?
          %td Created
        - if (current_user.is_admin? && params[:field_submitted])
          %td Submitted
        - if (current_user.is_admin? && params[:field_medical_center]) || !current_user.is_admin?
          %td Medical Center
        - if (current_user.is_admin? && params[:field_completed]) || !current_user.is_admin?
          %td Date Booked
        - if (current_user.is_admin? && params[:field_case_worker]) || !current_user.is_admin?
          %td Case Worker

    %tbody
      - @results.each do |a|
        %tr{:class => cycle('odd','even')}
          - if (current_user.is_admin? && params[:field_departing]) || !current_user.is_admin?
            %td= a.formatted_final_departure_date
          - if (current_user.is_admin? && params[:field_service_member]) || !current_user.is_admin?
            %td= a.service_member_name
          - if (current_user.is_admin? && params[:field_status]) || !current_user.is_admin?
            %td= a.state.capitalize
          - if (current_user.is_admin? && params[:field_created]) || !current_user.is_admin?
            %td= a.created_at.strftime("%m/%d/%Y")
          - if (current_user.is_admin? && params[:field_submitted])
            %td= a.formatted_submission_date
          - if (current_user.is_admin? && params[:field_medical_center]) || !current_user.is_admin?
            %td= a.medical_center_name
          - if (current_user.is_admin? && params[:field_completed]) || !current_user.is_admin?
            %td= a.formatted_booking_date
          - if (current_user.is_admin? && params[:field_case_worker]) || !current_user.is_admin?
            %td= a.case_worker_name
