#accounts-search-results
  .page-title Search Results for '#{params[:q]}'

  #search
    = form_tag '/search/accounts', :class => 'bp' do
      = label_tag :q, 'Search:'
      = text_field_tag :q, params[:q], :class => 'validate[required]'
      = hidden_field_tag :status, :value => params[:status]
      = hidden_field_tag :restrict, :value => params[:restrict]
      = submit_tag 'Go!', :class => 'button'
      %br
      %a#advanced-search-link{:href => '#'} Advanced search

      #advanced_search.hidden

        %p#search_restrict
          Restrict searched fields to:
          %br
          = check_box_tag :restrict_active, '', @restrict.include?('Active Accounts')
          = label_tag :restrict_active, 'Active Accounts', :class => 'radio-label'

          = check_box_tag :restrict_name, '', @restrict.include?('Name')
          = label_tag :restrict_name, 'Name', :class => 'radio-label'

          = check_box_tag :restrict_email, '', @restrict.include?('Email Address')
          = label_tag :restrict_email, 'Email Address', :class => 'radio-label'

          = check_box_tag :restrict_phone, '', @restrict.include?('Phone Number')
          = label_tag :restrict_phone, 'Phone Number', :class => 'radio-label'

        %p
          %br
          Medical Center:
          = select_tag :medical_center, options_for_select(MedicalCenter.sorted.collect{ |x| [x.name, x.id]}, params[:medical_center]), :include_blank => true
        %p
          %br
          Organization:
          = select_tag :organization, options_for_select(Organization.sorted.collect{ |x| [x.name, x.id]},params[:organization]), :include_blank => true

  .header
    .split
      .left
        Search Results
        (#{page_entries_info @results})
      .right
        %a#export-search-link{:href => '#'} EXPORT

  = render 'search/accounts_results'

#hidden
  #export-search-dialog
    .export-form.hidden
    %table
      %tbody
        %tr
          %td
            Search Results (PDF)
          %td
            %a#view-export-link{:href => '#'} view
          %td
            %a#save-export-link{:href => '#'} save
