#applications-search-results.search
  .page-title Search Results for '#{params[:q]}'

  .header
    .split
      .left
        Search Results
        (#{page_entries_info @results})


  = render 'search/applications_results'
