#applications-search-results
  .page-title Search

  #search
    = form_tag '/search/applications', :class => 'bp', :id => 'search_applications' do
      = label_tag :q, 'Search:'
      = text_field_tag :q, params[:q], :class => 'validate[required]'
      = hidden_field_tag :status, params[:status]
      = hidden_field_tag :restrict, params[:restrict]
      = hidden_field_tag :from, params[:from]
      = hidden_field_tag :till, params[:till]
      = submit_tag 'Go!', :class => 'button'
      %br
      %a#advanced-search-link{:href => '#'} Advanced search

      #advanced_search.hidden

        - if current_user.is_admin?
          Restrict by Medical Center:
          = select_tag :medical_center_id, options_for_select(MedicalCenter.sorted.collect { |x| [x.name, x.id]}, params[:medical_center_id]), :include_blank => true

          %p
            Restrict by Organization:
            = select_tag :organization_id, options_for_select(Organization.sorted.collect { |x| [x.name, x.id]}, params[:organization_id]), :include_blank => true

        - else
          Show all applications for #{current_user.org_or_med_center_name}
          = check_box_tag :all_users, 'true', params[:all_users] == 'true'

        %p#restrict_group
          Restrict by Group:
          = select_tag :group_id, options_for_select(Group.all.collect { |x| [x.name, x.id]}, params[:group_id]), :include_blank => true

        %p#restrict_branch
          Restrict by Branch of Service:
          = select_tag :branch, options_for_select(['Air Force', 'Army', 'Coast Guard', 'Marine Corps', 'Navy'], params[:branch]), :include_blank => true

        %p#search_status
          Restrict searched status to:
          %br
          = check_box_tag :completed, '', @status.include?('Completed')
          = label_tag :completed, 'Completed', :class => 'radio-label'

          = check_box_tag :submitted, '', @status.include?('Submitted')
          = label_tag :submitted, 'Submitted', :class => 'radio-label'

          = check_box_tag :exceptions, '', @status.include?('Exceptions')
          = label_tag :exceptions, 'Exceptions', :class => 'radio-label'

          = check_box_tag :reopened, '', @status.include?('Reopened')
          = label_tag :reopened, 'Reopened', :class => 'radio-label'
          %br

          = check_box_tag :declined, '', @status.include?('Declined')
          = label_tag :declined, 'Declined', :class => 'radio-label'

          = check_box_tag :saved, '', @status.include?('Saved')
          = label_tag :saved, 'Saved', :class => 'radio-label'

          = check_box_tag :returned, '', @status.include?('Returned')
          = label_tag :returned, 'Returned', :class => 'radio-label'

        %p#search_restrict
          Restrict searched fields to:
          %br
          = check_box_tag :service_member, '', params[:service_member]
          = label_tag :service_member, 'Service Member', :class => 'radio-label'

          = check_box_tag :passenger, '', params[:passenger]
          = label_tag :passenger, 'Passenger', :class => 'radio-label'

          = check_box_tag :email, '', params[:email]
          = label_tag :email, 'Email Address', :class => 'radio-label'

        %p#search_dates
          Restrict searched dates to:
          %br
          = label_tag :search_from, 'Start:'

          = date_select nil, :search_from, :order => [:month, :day, :year], :include_blank => @from.nil?? true : false, :start_year => 2005, :end_year => Time.zone.now.year + 1, :default => @from
          = label_tag :search_till, 'End:'
          = date_select nil, :search_till, :order => [:month, :day, :year], :include_blank => @till.nil?? true : false, :start_year => 2005, :end_year => Time.zone.now.year + 1, :default => @till

          = label_tag :date_for, 'For:'
          = select_tag :date_for, options_for_select(['Requested Departure', 'Actual Departure', 'Requested Arrival', 'Actual Arrival', 'Completed', 'Submitted', 'Exceptions', 'Declined', 'Saved', 'Returned', 'Date Booked'],params[:date_for]), :include_blank => true

        - if current_user.is_admin?

          %p#search_fields
            Fields to Display:
            %br
            = check_box_tag :field_departing, 'field_departing', params[:field_departing] == 'field_departing'
            = label_tag :field_departing, 'Departing', :class => 'radio-label'

            = check_box_tag :field_service_member, 'field_service_member', params[:field_service_member] == 'field_service_member'
            = label_tag :field_service_member, 'Service Member', :class => 'radio-label'

            = check_box_tag :field_status, 'field_status', params[:field_status] == 'field_status'
            = label_tag :field_status, 'Status', :class => 'radio-label'

            = check_box_tag :field_created, 'field_created', params[:field_created] == 'field_created'
            = label_tag :field_created, 'Created', :class => 'radio-label'
            %br

            = check_box_tag :field_submitted, 'field_submitted', params[:field_submitted] == 'field_submitted'
            = label_tag :field_submitted, 'Submitted', :class => 'radio-label'

            = check_box_tag :field_completed, 'field_completed', params[:field_completed] == 'field_completed'
            = label_tag :field_completed, 'Date Booked', :class => 'radio-label'

            = check_box_tag :field_case_worker, 'field_case_worker', params[:field_case_worker] == 'field_case_worker'
            = label_tag :field_case_worker, 'Case Worker', :class => 'radio-label'

            = check_box_tag :field_medical_center, 'field_medical_center', params[:field_medical_center] == 'field_medical_center'
            = label_tag :field_medical_center, 'Medical Center', :class => 'radio-label'

        %p.submit
          = submit_tag 'Go!', :class => 'button'

  .header
    .split
      .left
        Search Results
        (#{page_entries_info @results})
      .right
        %a#export-search-link{:href => '#'} PRINT/EXPORT

  = render 'search/applications_results'

#hidden
  #export-search-dialog
    .export-form.hidden
    %table
      %tbody
        -#%tr
          %td
            Search Results (PDF)
          %td
            %a#view-export-link{:href => '#'} view
          %td
            %a#save-export-link{:href => '#'} save
          - if current_user.is_admin?
        %tr
          %td
            All Data (CSV)
          %td
          %td
            %a#save-all-data-link{:href => '#'} save
