- editable ||= a.object.is_editable?(current_user)

.header Flight Information

%p
  = label_tag :flight_type, 'Type:'
  = label_tag :flight_type_text, a.object.flight_type, :class => 'radio-label'

%p
  = a.label :final_depart_from_1, 'Outbound Flight:', :class => 'dummy-label'
  - if editable
    %span.validation-child
      = label_tag :outbound_departure, 'Final Outbound Departure', :class => 'hidden'
      = a.hidden_field :final_depart_from_1_id
      = text_field_tag :final_depart_from_1_select, a.object.formatted_final_depart_from_1, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_final_depart_from_1_id'
    to
    %span.validation-child
      = label_tag :outbound_arrival, 'Final Outbound Arrival', :class => 'hidden'
      = a.hidden_field :final_arrive_in_1_id
      = text_field_tag :final_arrive_in_1_select, a.object.formatted_final_arrive_in_1, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_final_arrive_in_1_id'
  - else
    = a.object.formatted_final_depart_from_1
    to
    = a.object.formatted_final_arrive_in_1

%p
  = label_tag :outbound_flight_count, 'Number of Outbound Flights:'
  - if editable
    = select_tag :outbound_flight_count, options_for_select((1..AppSettings.first.max_flights).collect { |x| [x]}, a.object.persisted_outbound_flights.size), :include_blank => true, :class => 'validate[required]'
  - else
    - if a.object.persisted_outbound_flights.size > 0
      = a.object.persisted_outbound_flights.size

#outbound-flight-list
  - index = 0
  = a.fields_for :outbound_flights do |af|
    - index += 1
    .wrapper.outbound-flight{:id => "outbound-flight-#{index}", :class => "#{af.object.persisted? ? '' : 'hidden'}"}
      = af.label :flight_no, "Outbound #{index}:", :class => 'dummy-label'
      - if editable
        %span.validation-child
          = label_tag "ob_#{index}_flight_no", "Outbound #{index} Flight #", :class => 'hidden'
          = af.text_field :flight_no, :placeholder => '#', :class => 'five-chars validate[required]'
        %span.validation-child
          = label_tag "ob_#{index}_depart_from", "Outbound #{index} Depart From", :class => 'hidden'
          = af.text_field :depart_from, :placeholder => 'Depart From', :class => 'ten-chars airport-select validate[required]'

        - dep_hour = af.object.depart_time ? af.object.depart_time.strftime("%-I") : ''
        - dep_minute = af.object.depart_time ? af.object.depart_time.strftime("%M") : ''
        - dep_ampm = af.object.depart_time ? af.object.depart_time.strftime("%p") : ''
        - arr_hour = af.object.arrive_time ? af.object.arrive_time.strftime("%-I") : ''
        - arr_minute = af.object.arrive_time ? af.object.arrive_time.strftime("%M") : ''
        - arr_ampm = af.object.arrive_time ? af.object.arrive_time.strftime("%p") : ''

        %span.time-select.validation-child
          = label_tag "ob_#{index}_depart_time", "Outbound #{index} Departure Time", :class => 'hidden'
          = af.hidden_field :depart_time, :class => "flight-#{index}-depart-time"
          = select_tag "flight-#{index}-depart-hour", options_for_select('1'..'12', dep_hour), :include_blank => true, :class => 'hour validate[required]'
          #{':'}
          = select_tag "flight-#{index}-depart-minute", options_for_select('00'..'59', dep_minute), :include_blank => true, :class => 'minute validate[required]'
          = select_tag "flight-#{index}-depart-ampm", options_for_select(["AM", "PM"], dep_ampm), :include_blank => true, :class => 'ampm validate[required]'

        %span.validation-child
          = label_tag "ob_#{index}_arrive_in", "Outbound #{index} Arrive In", :class => 'hidden'
          = af.text_field :arrive_in, :placeholder => 'Arrive In', :class => 'ten-chars airport-select validate[required]'

        %span.time-select.validation-child
          = label_tag "ob_#{index}_arrive_time", "Outbound #{index} Arrival Time", :class => 'hidden'
          = af.hidden_field :arrive_time, :class => "flight-#{index}-arrive-time"
          = select_tag "flight-#{index}-arrive-hour", options_for_select('1'..'12', arr_hour), :include_blank => true, :class => 'hour validate[required]'
          #{':'}
          = select_tag "flight-#{index}-arrive-minute", options_for_select('00'..'59', arr_minute), :include_blank => true, :class => 'minute validate[required]'
          = select_tag "flight-#{index}-arrive-ampm", options_for_select(["AM", "PM"], arr_ampm), :include_blank => true, :class => 'ampm validate[required]'

        - if af.object.persisted?
          = af.hidden_field :_destroy, :value => "#{af.object.persisted? ? 'false' : 'true'}", :class => 'destroy-flight'
      - else
        = af.object.flight_description

      %p
        = af.label :departure_date, 'Date of Departure:'
        - if editable
          = af.date_select :departure_date, {:start_year => Time.now.year,
                                            :end_year => Time.now.year + 1,
                                            :order => [:month, :day, :year],
                                            :include_blank => true}, :class => 'validate[required]'
        - else
          - if af.object.departure_date
            = af.object.departure_date.strftime("%m/%d/%Y")
          - else
            #{'-'}


      .flight-seats
        - index2 = 0
        = label_tag 'Seat Numbers:'
        - a.object.application_passengers.each do |pa|
          - index2 += 1
          - unless pa.is_lap_child?
            %span.passenger-seat{:id => "passenger-seat-#{index2}", :class => "#{pa.persisted? ? '' : 'hidden'}"}
              -# = label_tag "seat_#{index2}", "Passenger #{index2}:", :class => 'radio-label'
              - if editable
                = af.label "Outbound #{index} Seat #{index2}", :class => 'hidden'
                = af.text_field "seat_#{index2}", :class => 'five-chars upcase validate[required]', :placeholder => 'unassigned'
              - else
                = af.object.send "seat_#{index2}"


- if a.object.flight_type == 'Round-trip'
  %p
    = a.label :final_depart_from_2, 'Return Flight:', :class => 'dummy-label'
    - if editable
      %span.validation-child
        = label_tag :inbound_departure, 'Final Inbound Departure', :class => 'hidden'
        = a.hidden_field :final_depart_from_2_id
        = text_field_tag :final_depart_from_2_select, a.object.formatted_final_depart_from_2, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_final_depart_from_2_id'
      to
      %span.validation-child
        = label_tag :inbound_arrival, 'Final Inbound Arrival', :class => 'hidden'
        = a.hidden_field :final_arrive_in_2_id
        = text_field_tag :final_arrive_in_2_select, a.object.formatted_final_arrive_in_2, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_final_arrive_in_2_id'
    - else
      = a.object.formatted_final_depart_from_2
      to
      = a.object.formatted_final_arrive_in_2

  %p
    = label_tag :return_flight_count, 'Number of Return Flights:'
    - if editable
      = select_tag :return_flight_count, options_for_select((1..AppSettings.first.max_flights).collect { |x| [x]}, a.object.persisted_return_flights.size), :include_blank => true, :class => 'validate[required]'
    - else
      - if a.object.persisted_return_flights.size > 0
        = a.object.persisted_return_flights.size

  #return-flight-list
    - index = 0
    = a.fields_for :return_flights do |af|
      - index += 1
      .wrapper.return-flight{:id => "return-flight-#{index}", :class => "#{af.object.persisted? ? '' : 'hidden'}"}
        = af.label :flight_no, "Return #{index}:", :class => 'dummy-label'
        - if editable
          %span.validation-child
            = label_tag "ib_#{index}_flight_no", "Inbound #{index} Flight #", :class => 'hidden'
            = af.text_field :flight_no, :placeholder => '#', :class => 'five-chars validate[required]'
          %span.validation-child
            = label_tag "ib_#{index}_depart_from", "Inbound #{index} Depart From", :class => 'hidden'
            = af.text_field :depart_from, :placeholder => 'Depart From', :class => 'ten-chars airport-select validate[required]'

          - dep_hour = af.object.depart_time ? af.object.depart_time.strftime("%-I") : ''
          - dep_minute = af.object.depart_time ? af.object.depart_time.strftime("%M") : ''
          - dep_ampm = af.object.depart_time ? af.object.depart_time.strftime("%p") : ''
          - arr_hour = af.object.arrive_time ? af.object.arrive_time.strftime("%-I") : ''
          - arr_minute = af.object.arrive_time ? af.object.arrive_time.strftime("%M") : ''
          - arr_ampm = af.object.arrive_time ? af.object.arrive_time.strftime("%p") : ''

          %span.time-select.validation-child
            = label_tag "ib_#{index}_depart_time", "Inbound #{index} Departure Time", :class => 'hidden'
            = af.hidden_field :depart_time, :class => "flight-#{index}-depart-time"
            = select_tag "flight-#{index}-depart-hour", options_for_select('1'..'12', dep_hour), :include_blank => true, :class => 'hour validate[required]'
            #{':'}
            = select_tag "flight-#{index}-depart-minute", options_for_select('00'..'59', dep_minute), :include_blank => true, :class => 'minute validate[required]'
            = select_tag "flight-#{index}-depart-ampm", options_for_select(["AM", "PM"], dep_ampm), :include_blank => true, :class => 'ampm validate[required]'

          %span.validation-child
            = label_tag "ib_#{index}_arrive_in", "Inbound #{index} Arrive In", :class => 'hidden'
            = af.text_field :arrive_in, :placeholder => 'Arrive In', :class => 'ten-chars airport-select validate[required]'

          %span.time-select.validation-child
            = label_tag "ib_#{index}_arrive_time", "Inbound #{index} Arrival Time", :class => 'hidden'
            = af.hidden_field :arrive_time, :class => "flight-#{index}-arrive-time"
            = select_tag "flight-#{index}-arrive-hour", options_for_select('1'..'12', arr_hour), :include_blank => true, :class => 'hour validate[required]'
            #{':'}
            = select_tag "flight-#{index}-arrive-minute", options_for_select('00'..'59', arr_minute), :include_blank => true, :class => 'minute validate[required]'
            = select_tag "flight-#{index}-arrive-ampm", options_for_select(["AM", "PM"], arr_ampm), :include_blank => true, :class => 'ampm validate[required]'

          - if af.object.persisted?
            = af.hidden_field :_destroy, :value => "#{af.object.persisted? ? 'false' : 'true'}", :class => 'destroy-flight'
        - else
          = af.object.flight_description
        %p
          = af.label :departure_date, 'Date of Departure:'
          - if editable
            = af.date_select :departure_date, {:start_year => Time.now.year,
                                              :end_year => Time.now.year + 1,
                                              :order => [:month, :day, :year],
                                              :include_blank => true}, :class => 'validate[required]'
          - else
            - if af.object.departure_date
              = af.object.departure_date.strftime("%m/%d/%Y")
            - else
              #{'-'}




        .flight-seats
          = label_tag 'Seat Numbers:'
          - index2 = 0
          - a.object.application_passengers.each do |pa|
            - index2 += 1
            - unless pa.is_lap_child?
              %span.passenger-seat{:id => "passenger-seat-#{index2}", :class => "#{pa.persisted? ? '' : 'hidden'}"}
                -# = label_tag "seat_#{index2}", "Passenger #{index2}:", :class => 'radio-label'
                - if editable
                  = af.label "Inbound #{index} Seat #{index2}", :class => 'hidden'
                  = af.text_field "seat_#{index2}", :class => 'five-chars upcase validate[required]', :placeholder => 'unassigned'
                - else
                  = af.object.send "seat_#{index2}"


- unless a.object.booked_at.blank?
  %p
    = a.label :booked_at, 'Date Booked:'
    - if editable
      = a.date_select :booked_at, {:start_year => Time.now.year,
                                        :end_year => Time.now.year + 1,
                                        :order => [:month, :day, :year],
                                        :include_blank => true}, :class => 'validate[required]'
    - else
      - if a.object.booked_at
        = a.object.booked_at.strftime("%m/%d/%Y")
      - else
        #{'-'}


%p
  = label_tag :special_request, 'Special Request:'
  = a.object.special_request


#passenger-list

  - passenger_index = 0
  = a.fields_for :application_passengers do |ap|
    - passenger_index += 1
    .admin-passenger{:id => "admin-passenger-#{passenger_index}", :class => "#{ap.object.persisted? ? '' : 'hidden'}"}
      .header= "Passenger #{passenger_index} Information"

      %p
        = ap.label :ticket_no, 'Ticket Number:', :class => 'dummy-label'
        = label_tag "passenger_#{passenger_index}_ticket_no", "Passenger #{passenger_index} Ticket Number", :class => 'hidden'
        - if editable && !ap.object.is_lap_child?
          = ap.text_field :ticket_no, :class => 'ten-chars validate[required]', :name => "application[application_passengers_attributes][#{passenger_index-1}][ticket_no]"
        - else
          = ap.object.ticket_no

      %p.capitalize
        = label_tag :legal_name, 'Legal Name:'
        - if editable
          = label_tag :legal_name, ap.object.legal_name, :class => 'legal_name'
        - else
          = ap.object.legal_name

      %p
        = label_tag :date_of_birth, 'Date of Birth:'
        - if editable
          = label_tag :date_of_birth, ap.object.formatted_date_of_birth, :class => 'dob'
        - else
          = ap.object.date_of_birth.strftime("%m/%d/%Y") unless ap.object.date_of_birth.blank?

      %p
        = label_tag :gender, 'Gender:'
        - if editable
          = label_tag :gender, ap.object.gender, :class => 'gender'
        - else
          = ap.object.gender

      - if passenger_index == 1
        %p.capitalize
          = label_tag :city, 'City:'
          %span.city
            = ap.object.city

        %p.capitalize
          = label_tag :state, 'State:'
          %span.state
            = ap.object.state

        %p
          = label_tag :phone, 'Phone:'
          %span.phone
            - if ap.object.phone_1.blank?
              #{"-"}
            - else
              (#{ap.object.phone_1}) #{ap.object.phone_2} - #{ap.object.phone_3}

        %p
          = label_tag :email, 'Email:'
          %span.email
            - if ap.object.email.blank?
              #{"-"}
            - else
              = ap.object.email

.header Summary Information

%p
  = a.label :airline, 'Airline:'
  - if editable
    - airlines = ([a.object.airline] + Airline.active.collect(&:name)).flatten.uniq.compact
    = a.select :airline, options_for_select(airlines, a.object.airline), {:include_blank => true}, :class => 'validate[required]'
  - else
    = a.object.airline

%p
  = a.label :mileage, 'Miles:'
  - if editable
    = a.text_field :mileage, :class => 'validate[required]'
    %a#show-conversions{:href => '#'} Reward Conversions
  - else
    = a.object.mileage

%table#reward-conversions.hidden
  %thead
    %tr
      %td Airline
      %td Unit
      %td Conversion

  %tbody
    - Airline.all.each do |a|
      %tr[a]
        %td= a.name
        %td= a.units
        %td= a.conversion


%p
  = a.label :record_locator, 'Record Locator:'
  - if editable
    = a.text_field :record_locator, :class => 'upcase validate[required]', :maxlength => 6
  - else
    = a.object.record_locator

%p
  = a.label :total_price, 'Total Price:'
  - if editable
    $
    = a.text_field :total_price, :class => 'currency validate[required]'
  - else
    $ #{a.object.total_price}

%p
  = a.label :comparable_price, 'Comparable Price:'
  - if editable
    $
    = a.text_field :comparable_price, :class => 'currency validate[required]'
  - else
    $ #{a.object.comparable_price}

- if editable || !a.object.attachments.blank?
  .header Attachments

  .admin-attachments
    %table
      %thead
        %tr
          %td Type
          %td Description
          %td File
          %td

      %tbody
        - available_categories = AppSettings.admin_attachment_categories.collect{|x| [x['name'], x['id']]}

        = a.fields_for :admin_attachments do |at|
          - if at.object.persisted?
            %tr.admin-persisted-attachment
              %td= at.object.category
              %td= at.object.description
              %td
                %a{:href => at.object.document.url}= at.object.document_file_name
              %td
                %a.admin-remove-persisted-attachment{:href => '#'} Delete
                = at.hidden_field :_destroy, :value => 'false', :class => 'destroy-attachment'

            - if at.object.is_required?
              %tr.admin-required-attachment.hidden
                %td
                  = label_tag :category, at.object.category, :class => 'dummy-label'
                %td= at.text_field :description

                %td{:class => 'validation-child'}
                  = label_tag :document, "'#{at.object.category}' attachment", :class => 'hidden'
                  = at.file_field :document, :class => 'validate[required]'
                %td
                  = at.hidden_field :ref_id, :class => 'ref_id'
                  = at.hidden_field :owned_by_admin, :class => 'owned_by_admin'
          - else
            %tr.admin-required-attachment
              %td
                - if at.object.is_required?
                  = label_tag :description, at.object.category, :class => 'dummy-label'
                - else
                  = at.select :category, options_for_select(available_categories)
              %td= at.text_field :description
              %td{:class => 'validation-child'}
                - if at.object.is_required?
                  = label_tag :document, "'#{at.object.category}' attachment", :class => 'hidden'
                = at.file_field :document, :class => 'validate[required]'
              %td
                = at.hidden_field :ref_id
                - unless at.object.is_required?
                  %a.admin-remove-attachment{:href => '#'} Remove

        = a.fields_for a.object.admin_attachments.new do |at|
          %tr.admin-attachment.hidden
            %td
              = at.select :category, options_for_select(available_categories), {}, {:name => '', :class => 'category-select'}
            %td= at.text_field :description, :name => ''
            %td= at.file_field :document, :class => 'validate[required]', :name => ''
            %td
              = at.hidden_field :ref_id, :class => 'ref_id', :name => ''
              = at.hidden_field :owned_by_admin, :class => 'owned_by_admin', :name => ''
              - unless at.object.is_required?
                %a.admin-remove-attachment{:href => '#'}Remove

    %a.add-admin-attachment.button{:href => '#'} Add Attachment
%br

:javascript
  window.adminAttachmentIndex = parseInt(#{a.object.admin_attachments.size-1});
