.buttons
  - if a.object.persisted? && !['saved', 'returned'].include?(a.object.state)
    - if a.object.is_editable?(current_user)
      %a.complete-button.button{:href => '#', :title => 'Complete Application'} Complete
      = a.submit 'Complete', :class => 'hidden', :id => 'complete-form'
      = a.submit 'Decline', :class => 'button', :title => 'Decline Application'
      = a.submit 'Return', :class => 'button', :title => 'Return application to caseworker for revision'
      %span{:class => 'buttons-divider'}
      = a.submit 'Save Changes', :class => 'button', :title => 'Save changes to application'

    - elsif ['completed', 'declined'].include?(a.object.state) && a.object.admin == current_user
      = link_to 'Reopen', reopen_application_path(a.object), :confirm => 'Are you sure you wish to Reopen this application for editing or a status change? Reopening will cause a change to the completion date.', :class => 'button'
    - if a.object.admin && a.object.admin == current_user
      %a.add-note-button.button{:href => '#' } Add a note
  - else
    - if a.object.user == current_user
      = a.submit 'Save', :class => 'button'
      %a.submit-button.button{:href => '#'} Submit
      = a.submit 'Submit', :class => 'hidden', :id => 'submit-form'
      - if ['saved', 'returned'].include?(a.object.state) && a.object.is_editable?(current_user)
        = link_to 'Delete', application_path(a.object), :method => :delete, :confirm => 'Are you sure you want to delete this application?', :class => 'button', :title => 'Delete application'

  %br
  %br

  - if a.object.persisted? # && a.object.state != 'saved'
    %a.export-button.button{:href => '#' } View/Print/Save
    %a.email-button.button{:href => '#' } Email
  - if ['completed', 'submitted', 'exception', 'reopened', 'declined', ].include?(a.object.state)#a.object.is_checked_out?
    %span{:class => 'buttons-divider'}
    %a#assign_button.button{:href => checkout_application_path(:id => a.object.id, :user => current_user.id)} Assign To
    = select_tag :assign_to, options_for_select([['Unassigned','']] + User.admin.collect{ |x| [x.full_name, x.id]}, current_user.id)
    (currently #{a.object.admin.blank?? 'Unassigned' : a.object.admin.full_name})

  %br
  %br
