- editable = false

.header Flight Information

%p
  = label_tag :flight_type, 'Type:'
  = label_tag :flight_type_text, a.object.flight_type, :class => 'radio-label'


%p
  = a.label :final_depart_from_1, 'Outbound Flight:'
  = a.object.formatted_final_depart_from_1
  to
  = a.object.formatted_final_arrive_in_1

%p
  = label_tag :outbound_flight_count, 'Number of Outbound Flights:'
  - if a.object.persisted_outbound_flights.size > 0
    = a.object.persisted_outbound_flights.size

#outbound-flight-list
  - index = 0
  = a.fields_for :outbound_flights do |af|
    - index += 1
    .wrapper.outbound-flight{:id => "outbound-flight-#{index}", :class => "#{af.object.persisted? ? '' : 'hidden'}"}
      = af.label :flight_no, "Outbound #{index}:"
      = af.object.flight_description
      %p
        = af.label :departure_date, 'Date of Departure:'
        - if af.object.departure_date
          = af.object.departure_date.strftime("%m/%d/%Y")
      .flight-seats
        = label_tag 'Seat Numbers:'
        - index2 = 0
        - a.object.application_passengers.each do |pa|
          - index2 += 1
          - unless pa.is_lap_child?
            %span.passenger-seat{:id => "passenger-seat-#{index2}", :class => "#{pa.persisted? ? '' : 'hidden'}"}
              -# = label_tag "seat_#{index2}", "Passenger #{index2}:", :class => 'radio-label'
              = af.object.send "seat_#{index2}"


- if a.object.flight_type == 'Round-trip'
  %p
    = a.label :final_depart_from_2, 'Return Flight:'
    = a.object.formatted_final_depart_from_2
    to
    = a.object.formatted_final_arrive_in_2

  %p
    = label_tag :return_flight_count, 'Number of Return Flights:'
    - if a.object.persisted_return_flights.size > 0
      = a.object.persisted_return_flights.size

#return-flight-list
  - index = 0
  = a.fields_for :return_flights do |af|
    - index += 1
    .wrapper.return-flight{:id => "return-flight-#{index}", :class => "#{af.object.persisted? ? '' : 'hidden'}"}
      = af.label :flight_no, "Return #{index}:"
      = af.object.flight_description

      %p
        = af.label :departure_date, 'Date of Departure:'
        - if af.object.departure_date
          = af.object.departure_date.strftime("%m/%d/%Y")

      .flight-seats
        = label_tag 'Seat Numbers:'
        - index2 = 0
        - a.object.application_passengers.each do |pa|
          - index2 += 1
          - unless pa.is_lap_child?
            %span.passenger-seat{:id => "passenger-seat-#{index2}", :class => "#{pa.persisted? ? '' : 'hidden'}"}
              -# = label_tag "seat_#{index2}", "Passenger #{index2}:", :class => 'radio-label'
              = af.object.send "seat_#{index2}"


%p
  = a.label :booked_at, 'Date Booked:'
  - if a.object.booked_at
    = a.object.booked_at.strftime("%m/%d/%Y")
  - else
    #{'-'}

%p
  = label_tag :special_request, 'Special Request:'
  = a.object.special_request

#passenger-list

  - passenger_index = 0
  = a.fields_for :application_passengers do |ap|
    - if ap.object.persisted?
      - passenger_index += 1
      .header= "Passenger #{passenger_index} Information"

      %p
        = ap.label :ticket_no, 'Ticket Number:'
        - if editable
          = ap.text_field :ticket_no, :class => 'ten-chars'
        - else
          = ap.object.ticket_no

      %p.capitalize
        = label_tag :legal_name, 'Legal Name:'
        - if editable
          = label_tag :legal_name, ap.object.legal_name
        - else
          = ap.object.legal_name

      %p
        = label_tag :date_of_birth, 'Date of Birth:'
        - if editable
          = label_tag :date_of_birth, ap.object.formatted_date_of_birth
        - else
          = ap.object.date_of_birth.strftime("%m/%d/%Y") unless ap.object.date_of_birth.blank?

      %p
        = label_tag :gender, 'Gender:'
        - if editable
          = label_tag :gender, ap.object.gender
        - else
          = ap.object.gender

      - if passenger_index == 1
        %p.capitalize
          = label_tag :city, 'City:'
          = ap.object.city

        %p.capitalize
          = label_tag :state, 'State:'
          = ap.object.state

        %p
          = label_tag :phone, 'Phone:'
          - if ap.object.phone_1.blank?
            #{""}
          - else
            (#{ap.object.phone_1}) #{ap.object.phone_2} - #{ap.object.phone_3}

        %p
          = label_tag :email, 'Email:'
          - if ap.object.email.blank?
            #{""}
          - else
            = ap.object.email

.header Summary Information

%p
  = a.label :airline, 'Airline:'
  - if editable
    = a.select :airline, options_for_select(Airline.all.collect(&:name), a.object.airline), :include_blank => true
  - else
    = a.object.airline

%p
  = a.label :record_locator, 'Record Locator:'
  - if editable
    = a.text_field :record_locator, :class => 'upcase'
  - else
    = a.object.record_locator

%p
  = a.label :total_price, 'Total Price:'
  - if editable
    $
    = a.text_field :total_price
  - else
    $ #{a.object.total_price}

%p
  = a.label :comparable_price, 'Comparable Price:'
  - if editable
    $
    = a.text_field :comparable_price
  - else
    $ #{a.object.comparable_price}

- if editable || !a.object.attachments.blank?
  .header Attachments

  .admin-attachments
    %table.report-attachment-table
      %thead
        %tr
          %td Type
          %td Description
          %td File
          %td

      %tbody
        - available_categories = AppSettings.attachment_categories.select{|x| x['admin'] && !x['cw'] && !x['required']}.collect{|x| [x['name'], x['id']]}

        = a.fields_for :admin_attachments do |at|
          %tr.admin-persisted-attachment
            %td= at.object.category
            %td= at.object.description
            %td= at.object.document_file_name + " (Administrator)"
            %td
              %a.admin-remove-persisted-attachment{:href => '#'} Delete

    %a.add-admin-attachment{:href => '#'} Add Attachment

%br
