- editable ||= false
- template ||= false
- template_fields ||= []
- fields ||= []

= a.hidden_field :user_id

- if a.object.created_by_admin?
  .header Administrator Information
- else
  .header Case Worker Information

- unless @group.blank?
  = a.hidden_field :group_id, :value => @group.id

- if fields.blank? || fields.include?('case_worker_first_name')
  %p
    - if template
      = check_box_tag :case_worker_first_name, '', template_fields.include?('case_worker_first_name'), :class => 'template_check_box'
    = a.label :case_worker_first_name, 'Name:'
    - if editable && current_user.is_admin? && a.object.user != current_user
      = a.text_field :case_worker_first_name, :placeholder => 'First Name', :size => 15, :class => 'capitalize'
      = a.text_field :case_worker_last_name, :placeholder => 'Last Name', :size => 15, :class => 'capitalize'
    - else
      %span.capitalize
        #{a.object.case_worker_first_name} #{a.object.case_worker_last_name}

- if fields.blank? || fields.include?('case_worker_job_title')
  %p
    - if template
      = check_box_tag :case_worker_job_title, '', template_fields.include?('case_worker_job_title'), :class => 'template_check_box'
    = a.label :case_worker_job_title, 'Job Title:'
    - if editable && current_user.is_admin? && a.object.user != current_user
      = a.text_field :case_worker_job_title, :class => 'capitalize'
    - else
      %span.capitalize
        #{a.object.case_worker_job_title}

- if fields.blank? || fields.include?('case_worker_medical_center_id')
  %p
    - if template
      = check_box_tag :case_worker_medical_center_id, '', template_fields.include?('case_worker_medical_center_id'), :class => 'template_check_box'
    = a.label :case_worker_medical_center_id, 'Medical Center:'
    %span.capitalize
      - med = MedicalCenter.find_by_id a.object.case_worker_medical_center_id
      - if med && med.name
        = med.name

- if fields.blank? || fields.include?('case_worker_organization_id')
  %p
    - if template
      = check_box_tag :case_worker_organization_id, '', template_fields.include?('case_worker_organization_id'), :class => 'template_check_box'
    = a.label :case_worker_organization_id, 'Organization:'
    %span.capitalize
      - org = Organization.find_by_id a.object.case_worker_organization_id
      - if org && org.name
        = org.name

- if fields.blank? || fields.include?('case_worker_phone_1')
  %p
    - if template
      = check_box_tag :case_worker_phone_1, '', template_fields.include?('case_worker_phone_1'), :class => 'template_check_box'
    = a.label :case_worker_phone_1, 'Phone Number:'
    - unless a.object.case_worker_phone_1.blank?
      (#{a.object.case_worker_phone_1}) #{a.object.case_worker_phone_2} - #{a.object.case_worker_phone_3}

- if fields.blank? || fields.include?('case_worker_email')
  %p
    - if template
      = check_box_tag :case_worker_email, '', template_fields.include?('case_worker_email'), :class => 'template_check_box'
    = a.label :case_worker_email, 'E-mail Address:'
    = a.object.case_worker_email

- if fields.blank? || fields.include?('information_collected_by')
  %p
    - if template
      = check_box_tag :information_collected_by, '', template_fields.include?('information_collected_by'), :class => 'template_check_box'
    = a.label :information_collected_by, 'Service member information was collected:'
    - if editable
      = a.select :information_collected_by, options_for_select(['entirely by myself', 'partly or entirely by someone else'],a.object.information_collected_by), :include_blank => true
    - else
      = a.object.information_collected_by

.referrer{:class => "#{a.object.information_collected_by == 'partly or entirely by someone else' ? '' : 'hidden'}"}
  .header Referred By

  %p
    = a.label :referrer_first_name, 'Name:'

    - if editable
      = a.text_field :referrer_first_name, :placeholder => 'First Name', :size => 15, :class => 'validate[required] capitalize'
      = a.text_field :referrer_last_name, :placeholder => 'Last Name', :size => 15, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.referrer_first_name} #{a.object.referrer_last_name}

  %p
    = a.label :referrer_job_title, 'Job Title:'
    - if editable
      = a.text_field :referrer_job_title, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.referrer_job_title}

  %p
    = a.label :referrer_medical_center_id, 'Medical Center:'
    - if editable
      = a.select :referrer_medical_center_id, MedicalCenter.all.collect {|o| [o.name, o.id]}, :class => 'validate[required]'
    - else
      %span.capitalize
        - org = MedicalCenter.find_by_id(a.object.referrer_medical_center_id)
        - if org
          = org.name
        - else
          #{""}

  %p
    = a.label :referrer_organization_id, 'Organization:'
    - if editable
      = a.select :referrer_organization_id, Organization.all.collect {|o| [o.name, o.id]}, :class => 'validate[required]'
    - else
      %span.capitalize
        - org = Organization.find_by_id(a.object.referrer_organization_id)
        - if org
          = org.name
        - else
          #{""}


  %p
    = a.label :referrer_phone_1, 'Phone Number:'
    - if editable
      (
      = a.text_field :referrer_phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      )
      = a.text_field :referrer_phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      #{''}
      = a.text_field :referrer_phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]]'
    - else
      - unless a.object.referrer_phone_1.blank?
        (#{a.object.referrer_phone_1}) #{a.object.referrer_phone_2} - #{a.object.referrer_phone_3}

  %p
    = a.label :referrer_email, 'E-mail Address:'
    - if editable
      = a.email_field :referrer_email, :class => 'validate[required,custom[email]]'
    - else
      = a.object.referrer_email


.header Service Member Information

- if fields.blank? || fields.include?('first_name')
  %p
    - if template
      = check_box_tag :first_name, '', template_fields.include?('first_name'), :class => 'template_check_box'
    = a.label :first_name, 'Legal Name:'

    - if editable
      = a.text_field :first_name, :placeholder => 'Legal First Name', :size => 15, :class => 'validate[required] capitalize'
      = a.text_field :middle_name, :placeholder => 'MI', :size => 2, :class => 'middle_name'
      = a.text_field :last_name, :placeholder => 'Legal Last Name', :size => 15, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.first_name} #{a.object.middle_name} #{a.object.last_name}

-#- if fields.blank? || fields.include?('date_of_birth')
  %p
    - if template
      = check_box_tag :date_of_birth, '', template_fields.include?('date_of_birth'), :class => 'template_check_box'
    = a.label :date_of_birth, 'Date of Birth:'
    - if editable
      = a.date_select :date_of_birth,{:start_year => Time.now.year - 110,:end_year => Time.now.year - 15,:order => [:month, :day, :year],:include_blank => true,:use_month_numbers => true},{:class => 'validate[required]'}
    - else
      = a.object.date_of_birth.strftime("%m/%d/%Y") unless a.object.date_of_birth.blank?

-#- if fields.blank? || fields.include?('gender')
  %p
    - if template
      = check_box_tag :gender, '', template_fields.include?('gender'), :class => 'template_check_box'
    = a.label :gender, 'Gender:'
    - if editable
      = a.select :gender, options_for_select(['Male', 'Female'], a.object.gender), {:include_blank => true}, {:class => 'validate[required]'}
    - else
      = a.object.gender

- if fields.blank? || fields.include?('phone_1')
  %p
    - if template
      = check_box_tag :phone_1, '', template_fields.include?('phone_1'), :class => 'template_check_box'
    = a.label :phone_1, 'Phone Number:'
    - if editable
      (
      = a.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required]'
      )
      = a.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required]'
      #{''}
      = a.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required]'
    - else
      - unless a.object.phone_1.blank?
        (#{a.object.phone_1}) #{a.object.phone_2} - #{a.object.phone_3}

- if fields.blank? || fields.include?('alt_phone_1')
  %p
    - if template
      = check_box_tag :alt_phone_1, '', template_fields.include?('alt_phone_1'), :class => 'template_check_box'
    = a.label :alt_phone_1, 'Alternate Number:'
    - if editable
      (
      = a.text_field :alt_phone_1, 'maxLength' => 3, :class => 'phone-3'
      )
      = a.text_field :alt_phone_2, 'maxLength' => 3, :class => 'phone-3'
      #{''}
      = a.text_field :alt_phone_3, 'maxLength' => 4, :class => 'phone-4'
      %span.gray (optional)
    - else
      - unless a.object.alt_phone_1.blank?
        (#{a.object.alt_phone_1}) #{a.object.alt_phone_2} - #{a.object.alt_phone_3}

- if fields.blank? || fields.include?('email')
  %p
    - if template
      = check_box_tag :email, '', template_fields.include?('email'), :class => 'template_check_box'
    = a.label :email, 'Email Address:'
    - if editable
      = a.email_field :email, :class => 'validate[required,custom[email]]'
    - else
      = a.object.email


- if fields.blank? || fields.include?('service_branch')
  %p
    - if template
      = check_box_tag :service_branch, '', template_fields.include?('service_branch'), :class => 'template_check_box'
    = a.label :service_branch, 'Branch of Service:'
    - if editable
      = a.select :service_branch, options_for_select(['Air Force', 'Army', 'Coast Guard', 'Marine Corp', 'Navy'], a.object.service_branch), {:include_blank => true}, {:class => 'validate[required]'}
    - else
      %span.capitalize
        = a.object.service_branch

- if fields.blank? || fields.include?('current_status')
  %p
    - if template
      = check_box_tag :current_status, '', template_fields.include?('current_status'), :class => 'template_check_box'
    = a.label :current_status, 'Current Status:'
    %span.capitalize
      = a.object.current_status

- if fields.blank? || fields.include?('medical_center_id')
  %p
    - if template
      = check_box_tag :medical_center_id, '', template_fields.include?('medical_center_id'), :class => 'template_check_box'
    %span.capitalize
      - if ['None', nil].include?(a.object.medical_center_other)
        = a.label :medical_center_id, 'Medical Center:'
        = a.object.medical_center_name
      - else
        = a.label :medical_center_other, 'Medical Center Other:'
        = a.object.medical_center_other

- if fields.blank? || fields.include?('is_inpatient')
  %p
    - if template
      = check_box_tag :is_inpatient, '', template_fields.include?('is_inpatient'), :class => 'template_check_box'
    = a.label :is_inpatient, 'Patient Status:'
    - if editable
      = a.radio_button :is_inpatient, 'true'
      = a.label :is_inpatient_true, 'Inpatient', :class => 'radio-label'
      = a.radio_button :is_inpatient, 'false'
      = a.label :is_inpatient_false, 'Outpatient', :class => 'radio-label'
    - else
      - if a.object.is_inpatient.nil?
        #{""}
      - elsif a.object.is_inpatient
        Inpatient
      - else
        Outpatient


- if fields.blank? || fields.include?('injury_status')
  %p
    - if template
      = check_box_tag :injury_status, '', template_fields.include?('injury_status'), :class => 'template_check_box'
    = a.label :injury_status, 'Injury Status:'
    = a.object.injury_status


- if fields.blank? || fields.include?('has_used_heromiles')
  %p
    - if template
      = check_box_tag :has_used_heromiles, '', template_fields.include?('has_used_heromiles'), :class => 'template_check_box'
    = a.label :has_used_heromiles, 'Has the Service Member Used Hero Miles Before?'
    - if editable
      = a.radio_button :has_used_heromiles, 'true'
      = a.label :has_used_heromiles_true, 'Yes', :class => 'radio-label'
      = a.radio_button :has_used_heromiles, 'false'
      = a.label :has_used_heromiles_false, 'No', :class => 'radio-label'
    - else
      - if a.object.has_used_heromiles.nil?
        #{""}
      - elsif a.object.has_used_heromiles
        Yes
      - else
        No

%p.last_use_date{:class => "#{a.object.has_used_heromiles ? '' : 'hidden'}"}
  = a.label :last_use_date, 'Date of Last Use:'
  - if editable
    = a.date_select :last_use_date, {:order => [:month, :year],
                                     :start_year => Time.zone.now.year,
                                     :end_year => 1973,
                                     :include_blank => true,
                                     :use_month_numbers => true},
                                    {:class => 'validate[required]'}
  - else
    - if a.object.last_use_date.blank?
      #{""}
    - else
      = a.object.last_use_date.strftime("%m/%Y")

.header Flight Information

- if fields.blank? || fields.include?('flight_type')
  %p
    - if template
      = check_box_tag :flight_type, '', template_fields.include?('flight_type'), :class => 'template_check_box'
    = a.label :flight_type, 'Flight Type:'
    - if editable
      = a.radio_button :flight_type, 'Round-trip'
      = a.label :flight_type, 'Round-trip', :class => 'radio-label', :value => 'Round-trip'
      = a.radio_button :flight_type, 'One-way'
      = a.label :flight_type, 'One-way', :class => 'radio-label', :value => 'One-way'

    - else
      - if a.object.flight_type.blank?
        #{""}
      - else
        = a.object.flight_type

- if fields.blank? || fields.include?('depart_from_1')
  %p.airport
    - if template
      = check_box_tag :depart_from_1, '', template_fields.include?('depart_from_1'), :class => 'template_check_box'
    = a.label :depart_from_1, 'Outbound Flight:', :class => 'depart-label'
    - if editable
      = a.text_field :depart_from_1, :placeholder => 'Airport Code', :class => 'validate[required]'
      to
      = a.text_field :arrive_in_1, :placeholder => 'Airport Code', :class => 'validate[required]'
    - else
      = a.object.formatted_depart_from_1
      to
      = a.object.formatted_arrive_in_1

- if fields.blank? || fields.include?('depart_from_2')
  %p.airport.return-airport{:class => "#{a.object.flight_type == 'One-way' ? 'hidden' : ''}"}
    - if template
      = check_box_tag :depart_from_2, '', template_fields.include?('depart_from_2'), :class => 'template_check_box'
    = a.label :depart_from_2, 'Return Flight:', :class => 'arrive-label'
    - if editable
      = a.text_field :depart_from_2, :placeholder => 'Airport Code', :class => 'validate[required]'
      to
      = a.text_field :arrive_in_2, :placeholder => 'Airport Code', :class => 'validate[required]'
    - else
      = a.object.formatted_depart_from_2
      to
      = a.object.formatted_arrive_in_2

- if fields.blank? || fields.include?('departure_date')
  %p
    - if template
      = check_box_tag :departure_date, '', template_fields.include?('departure_date'), :class => 'template_check_box'
    = a.label :departure_date, 'Requested Date of Departure:'
    - if editable
      = a.date_select :departure_date, {:start_year => Time.now.year,
                                      :end_year => Time.now.year + 1,
                                      :order => [:month, :day, :year],
                                      :include_blank => true,
                                      :use_month_numbers => true},
                                      {:class => 'validate[required]'}
    - else
      = a.object.formatted_departure_date

- if fields.blank? || fields.include?('return_date')
  %p.return-date{:class => "#{(['Round-trip', 'Multi-city'].include?(a.object.flight_type)) ? '' : 'hidden'}"}
    - if template
      = check_box_tag :return_date, '', template_fields.include?('return_date'), :class => 'template_check_box'
    = a.label :return_date, 'Requested Date of Return:'
    - if editable
      = a.date_select :return_date,{:start_year => Time.zone.now.year,
                                      :end_year => Time.zone.now.year + 1,
                                      :order => [:month, :day, :year],
                                      :include_blank => true,
                                      :use_month_numbers => true},
                                      {:class => 'validate[required]'}
    - else
      = a.object.formatted_return_date

- if fields.blank? || fields.include?('flight_details')
  %p.one_way_reason{:class => "#{a.object.flight_type == 'One-way' ? '' : 'hidden'}"}
    - if template
      = check_box_tag :flight_details, '', template_fields.include?('flight_details'), :class => 'template_check_box'
    = a.label :flight_details, 'Reason for One-way travel:'
    - if editable
      = a.text_area :flight_details, :class => 'validate[required]'
    - else
      = a.object.flight_details

- if fields.blank? || fields.include?('special_request')
  %p
    - if template
      = check_box_tag :special_request, '', template_fields.include?('special_request'), :class => 'template_check_box'
    = a.label :special_request, 'Special Request:'
    - if editable
      - if a.object.special_request.blank?
        = check_box_tag :has_special_request, 'true'
      - else
        = check_box_tag :has_special_request, 'true', :checked => 'checked'
      (examples: need for wheel chair, flight time preferences, lap child)
    - else
      = a.object.special_request

  %p.special_request{:class => "#{a.object.special_request.blank? ? 'hidden' : ''}"}
    - if editable
      - unless current_user.is_admin? && a.object.user != current_user
        = a.text_area :special_request

.header Passenger Information

- unless template
  %p
    = a.label :travellers, 'Who Will Be Traveling?'
    - if editable
      = a.radio_button :travellers, 'Family/Friend'
      = a.label :travellers, 'Family/Friend', :class => 'radio-label', :value => 'Family/Friend'
      = a.radio_button :travellers, 'Service Member'
      = a.label :travellers, 'Service Member', :class => 'radio-label', :value => 'Service Member'
      = a.radio_button :travellers, 'Both'
      = a.label :travellers, 'Both', :class => 'radio-label', :value => 'Both'
    - else
      - if a.object.travellers.blank?
        #{""}
      - else
        = a.object.travellers

  %p#passenger-count{:class => "#{(a.object.travellers.blank? || a.object.travellers == 'Service Member') ? 'hidden' : ''}"}
    = label_tag :passenger_count, 'Total No. of Passengers:'
    - if editable
      = select_tag :passenger_count, options_for_select(1..AppSettings.first.max_passengers, a.object.persisted_passengers.size), :include_blank => true
    - else
      = a.object.persisted_passengers.size

- unless template
  #passenger-list
    - index = 0
    = a.fields_for :application_passengers do |ap|
      - index += 1
      .passenger{:id => "passenger-#{index}", :class => "#{ap.object.persisted? ? '' : 'hidden'}"}
        - if index == 1
          - if a.object.travellers == 'Family/Friend' || template
            .header Passenger #{index} Information
          - else
            .header Passenger #{index} Information (Service Member)
        - else
          .header Passenger #{index} Information

        %p
          = ap.label :first_name, 'Legal Name:', :class => 'dummy-label'
          - if editable

            = ap.text_field :first_name, :placeholder => 'Legal First Name', :size => 15, :class => 'validate[required] capitalize passenger-fname'
            = ap.text_field :middle_name, :placeholder => 'MI', :size => 2, :class => 'middle_name passenger-mname capitalize'
            = ap.text_field :last_name, :placeholder => 'Legal Last Name', :size => 15, :class => 'validate[required] capitalize passenger-lname'
            - if ap.object.persisted?
              = ap.hidden_field :_destroy, :value => "#{ap.object.persisted? ? 'false' : 'true'}", :class => 'destroy-passenger'
          - else
            %span.capitalize
              #{ap.object.first_name} #{ap.object.middle_name} #{ap.object.last_name}


        %p.dob
          = ap.label :date_of_birth, 'Date of Birth:', :class => 'dummy-label'
          - if editable
            = ap.date_select :date_of_birth,{:start_year => Time.now.year,
                                              :end_year => Time.now.year - 110,
                                              :order => [:month, :day, :year],
                                              :include_blank => true},
                                              {:class => 'validate[required] date-select'}
          - else
            = ap.object.date_of_birth.strftime("%m/%d/%Y") unless ap.object.date_of_birth.blank?

        %p.lap_child{:class => "#{ ap.object.is_child? || ap.object.is_lap_child? ? '' : 'hidden'}"}
          = ap.label :is_lap_child, 'Child will:'
          - if editable
            = ap.select :is_lap_child, options_for_select([['be a "lap child"', true],
                                                           ['have his/her own seat', false]], ap.object.is_lap_child)
          - else
            #{ap.object.is_lap_child? ? 'be a "lap child"' : 'have his/her own seat' }

        %p.gender
          = ap.label :gender, 'Gender:', :class => 'dummy-label'
          - if editable
            = ap.select :gender, options_for_select(['Male', 'Female'], ap.object.gender), {:include_blank => true}, {:class => 'validate[required]'}
          - else
            - if ap.object.gender.blank?
              #{""}
            - else
              = ap.object.gender

        %p
          = ap.label :relation, 'Relation to Service Member:', :class => 'dummy-label'
          - if editable
            = ap.select :relation, options_for_select(['Aunt', 'Brother', 'Brother-in-Law', 'Cousin', 'Daughter', 'Daughter-in-Law', 'Ex-Husband', 'Ex-Wife', 'Father', 'Father-in-Law', 'Fiance', 'Fiancee', 'Friend', 'Grandfather', 'Grandmother', 'Husband', 'Mother', 'Mother-in-Law', 'Nephew', 'Niece', 'Other', 'Self', 'Sister', 'Sister-in-Law', 'Son', 'Step Father', 'Step Mother', 'Uncle', 'Wife'], ap.object.relation), {:include_blank => true}, {:class => 'validate[required] relation'}
          - else
            - if ap.object.relation.blank?
              #{""}
            - else
              = ap.object.relation
        - if index == 1

          %p.city

            = ap.label :city, 'City:', :class => 'dummy-label'
            - if editable
              = ap.text_field :city, :class => 'validate[required] capitalize'
            - else
              %span.capitalize
                - if ap.object.city.blank?
                  #{""}
                - else
                  = ap.object.city


          %p.state
            = ap.label :state, 'State:', :class => 'dummy-label'
            - if editable
            = ap.select :state, options_for_select(available_us_states.collect {|x| ["#{x[1]} | #{x[0]}", x[1]]}, ap.object.state), {:include_blank => true}, :class => 'validate[required]'
            - else
              %span.capitalize
                - if ap.object.state.blank?
                  #{""}
                - else
                  = ap.object.state


          %p.phone
            = ap.label :phone_1, 'Phone Number:', :class => 'dummy-label'
            - if editable
              (
              = ap.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
              )
              = ap.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
              #{'-'}
              = ap.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]]'
            - else
              - if ap.object.phone_1.blank?
                #{""}
              - else
                (#{ap.object.phone_1}) #{ap.object.phone_2} - #{ap.object.phone_3}


          %p.email
            = ap.label :email, 'Email Address:', :class => 'dummy-label'
            - if editable
              = ap.email_field :email, :class => 'validate[required,custom[email]]'
            - else
              - if ap.object.email.blank?
                #{""}
              - else
                = ap.object.email

- unless template
  - if editable || !a.object.attachments.blank?
    .header Attachments

    .cw-attachments
      %table.report-attachment-table
        %thead
          %tr
            %td Type
            %td Description
            %td File
            %td

        %tbody
          - if current_user.is_admin?
            - available_categories = AppSettings.admin_cw_attachment_categories.collect{|x| [x['name'], x['id']]}
          - else
            - available_categories = AppSettings.cw_attachment_categories.collect{|x| [x['name'], x['id']]}
          = a.fields_for :attachments do |at|
            - if at.object.persisted?
              %tr.cw-persisted-attachment
                %td= at.object.category
                %td= at.object.description
                %td= at.object.document_file_name
                %td
                  %a.cw-remove-persisted-attachment{:href => '#'} Delete
                  = at.hidden_field :_destroy, :value => 'false', :class => 'destroy-attachment'
            - else
              %tr.cw-required-attachment
                %td
                  - if at.object.is_required?
                    = label_tag :category, at.object.category, :class => 'dummy-label'
                  - else
                    = at.select :category, options_for_select(available_categories)
                %td= at.text_field :description
                %td{:class => 'validation-child'}
                  - if at.object.is_required?
                    = label_tag :document, "'#{at.object.category}' attachment", :class => 'hidden'
                  = at.file_field :document, :class => 'validate[required]'
                %td
                  = at.hidden_field :ref_id
                  - unless at.object.is_required?
                    %a.cw-remove-attachment.button{:href => '#'} Remove

          = a.fields_for a.object.attachments.new do |at|
            %tr.cw-attachment.hidden
              %td
                = at.select :category, options_for_select(available_categories), {}, {:name => ''}
              %td= at.text_field :description, :name => ''
              %td= at.file_field :document, :class => 'validate[required]', :name => ''
              %td
                = at.hidden_field :ref_id, :class => 'ref_id', :name => ''
                - unless at.object.is_required?
                  %a.cw-remove-attachment.button{:href => '#'} Remove

      %a.add-cw-attachment{:href => '#'} Add Attachment

- unless template
  .header Terms of Use

  %p
    By clicking the "Submit" button below, I certify the above information to be correct and that the patient has signed DD Form 2870, "Authorization for Disclosure of Information" (or comparable form from other service or agency) authorizing the release of necessary health information to the Fisher House Foundation to process the request for airline tickets.
