- editable ||= a.object.is_editable?(current_user)
- template ||= false
- template_fields ||= []
- fields ||= []

= a.hidden_field :user_id

- if a.object.created_by_admin?
  .header Administrator Information
- else
  .header Case Worker Information

- unless @group.blank?
  = a.hidden_field :group_id, :value => @group.id

- unless template

  %p
    = a.label :case_worker_first_name, 'Name:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      = a.text_field :case_worker_first_name, :placeholder => 'First Name', :size => 15, :class => 'capitalize'
      = a.text_field :case_worker_last_name, :placeholder => 'Last Name', :size => 15, :class => 'capitalize'
    - else
      %span.capitalize
        #{a.object.case_worker_first_name} #{a.object.case_worker_last_name}


  %p

    = a.label :case_worker_job_title, 'Job Title:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      = a.text_field :case_worker_job_title, :class => 'capitalize'
    - else
      %span.capitalize
        #{a.object.case_worker_job_title}


  %p

    = a.label :case_worker_medical_center_id, 'Medical Center:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      = a.select :case_worker_medical_center_id, @medical_centers.collect {|o| [o.name, o.id]}, {:include_blank => true}, :class => 'select_autocomplete'
    - else
      %span.capitalize
        - med = MedicalCenter.find_by_id a.object.case_worker_medical_center_id
        - if med && med.name
          = med.name



  %p

    = a.label :case_worker_organization_id, 'Organization:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      = a.select :case_worker_organization_id, @organizations.collect {|o| [o.name, o.id]}, {:include_blank => true}, :class => 'select_autocomplete'
    - else
      %span.capitalize
        - org = Organization.find_by_id a.object.case_worker_organization_id
        - if org && org.name
          = org.name


  %p

    = a.label :case_worker_phone_1, 'Phone Number:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      (
      = a.text_field :case_worker_phone_1, 'maxLength' => 3, :class => 'phone-3 validate[custom[phone]]'
      )
      = a.text_field :case_worker_phone_2, 'maxLength' => 3, :class => 'phone-3 validate[custom[phone]]'
      #{'-'}
      = a.text_field :case_worker_phone_3, 'maxLength' => 4, :class => 'phone-4 validate[custom[phone]]'
    - else
      - unless a.object.case_worker_phone_1.blank?
        (#{a.object.case_worker_phone_1}) #{a.object.case_worker_phone_2} - #{a.object.case_worker_phone_3}


  %p

    = a.label :case_worker_email, 'E-mail Address:'
    - if editable && current_user.is_admin? # && a.object.user != current_user
      = a.email_field :case_worker_email, :class => 'validate[custom[email]]'
    - else
      = a.object.case_worker_email

- if fields.blank? || fields.include?('information_collected_by')
  %p
    - if template
      = check_box_tag :information_collected_by, '', template_fields.include?('information_collected_by'), :class => 'template_check_box'
    = a.label :information_collected_by, 'Service member information was collected:'
    - if editable
      = a.select :information_collected_by, options_for_select(['entirely by myself', 'partly or entirely by someone else'],a.object.information_collected_by), {:include_blank => true},{ :class => 'validate[required]'}
    - else
      = a.object.information_collected_by

.referrer{:class => "#{a.object.information_collected_by == 'partly or entirely by someone else'  || template ? '' : 'hidden'}"}
  .header Referred By

  %p
    - if template
      = check_box_tag :referrer_first_name, '', template_fields.include?('referrer_first_name'), :class => 'template_check_box'
    = label_tag "ref_name", "Referrer Name", :class => 'hidden'
    = a.label :referrer_first_name, 'Name:', :class => 'dummy-label'

    - if editable
      = a.text_field :referrer_first_name, :placeholder => 'First Name', :size => 15, :class => 'validate[required] capitalize'
      = a.text_field :referrer_last_name, :placeholder => 'Last Name', :size => 15, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.referrer_first_name} #{a.object.referrer_last_name}

  %p
    - if template
      = check_box_tag :referrer_job_title, '', template_fields.include?('referrer_job_title'), :class => 'template_check_box'
    = label_tag "ref_job_title", "Referrer Job Title", :class => 'hidden'
    = a.label :referrer_job_title, 'Job Title:', :class => 'dummy-label'
    - if editable
      = a.text_field :referrer_job_title, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.referrer_job_title}

  %p
    - if template
      = check_box_tag :referrer_medical_center_id, '', template_fields.include?('referrer_medical_center_id'), :class => 'template_check_box'
    = a.label :referrer_medical_center_id, 'Medical Center:'
    - if editable
      = a.select :referrer_medical_center_id, @medical_centers.collect {|o| [o.name, o.id]}, :include_blank => true
    - else
      %span.capitalize
        - org = MedicalCenter.unscoped.find_by_id(a.object.referrer_medical_center_id)
        - if org
          = org.name
        - else
          #{""}

  %p
    - if template
      = check_box_tag :referrer_organization_id, '', template_fields.include?('referrer_organization_id'), :class => 'template_check_box'
    = a.label :referrer_organization_id, 'Organization:'
    - if editable
      = a.select :referrer_organization_id, @organizations.collect {|o| [o.name, o.id]}, :include_blank => true
    - else
      %span.capitalize
        - org = Organization.unscoped.find_by_id(a.object.referrer_organization_id)
        - if org
          = org.name
        - else
          #{""}


  %p
    - if template
      = check_box_tag :referrer_phone_1, '', template_fields.include?('referrer_phone_1'), :class => 'template_check_box'
    = label_tag "ref_phone", "Referrer Phone Number", :class => 'hidden'
    = a.label :referrer_phone_1, 'Phone Number:', :class => 'dummy-label'
    - if editable
      (
      = a.text_field :referrer_phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]] referrer_phone_1'
      )
      = a.text_field :referrer_phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]] referrer_phone_2'
      #{'-'}
      = a.text_field :referrer_phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]] referrer_phone_3'
    - else
      - unless a.object.referrer_phone_1.blank?
        (#{a.object.referrer_phone_1}) #{a.object.referrer_phone_2} - #{a.object.referrer_phone_3}

  %p
    - if template
      = check_box_tag :referrer_email, '', template_fields.include?('referrer_email'), :class => 'template_check_box'
    = label_tag "ref_email", "Referrer Email", :class => 'hidden'
    = a.label :referrer_email, 'E-mail Address:', :class => 'dummy-label'
    - if editable
      = a.email_field :referrer_email, :class => 'validate[required,custom[email]] referrer_email'
    - else
      = a.object.referrer_email


.header Service Member Information

- if fields.blank? || fields.include?('first_name')
  %p
    - if template
      = check_box_tag :first_name, '', template_fields.include?('first_name'), :class => 'template_check_box'
    = a.label :first_name, 'Legal Name:'

    - if editable
      = a.text_field :first_name, :placeholder => 'Legal First Name', :size => 15, :class => 'validate[required] capitalize'
      = a.text_field :middle_name, :placeholder => 'MI', :size => 2, :class => 'middle_name capitalize'
      = a.text_field :last_name, :placeholder => 'Legal Last Name', :size => 15, :class => 'validate[required] capitalize'
    - else
      %span.capitalize
        #{a.object.first_name} #{a.object.middle_name} #{a.object.last_name}

- if fields.blank? || fields.include?('phone_1')
  %p
    - if template
      = check_box_tag :phone_1, '', template_fields.include?('phone_1'), :class => 'template_check_box'
    = a.label :phone_1, 'Phone Number:'
    - if editable
      (
      = a.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required]'
      )
      = a.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required]'
      #{'-'}
      = a.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required]'
    - else
      - unless a.object.phone_1.blank?
        (#{a.object.phone_1}) #{a.object.phone_2} - #{a.object.phone_3}

- if fields.blank? || fields.include?('alt_phone_1')
  %p
    - if template
      = check_box_tag :alt_phone_1, '', template_fields.include?('alt_phone_1'), :class => 'template_check_box'
    = a.label :alt_phone_1, 'Alternate Number:'
    - if editable
      (
      = a.text_field :alt_phone_1, 'maxLength' => 3, :class => 'phone-3'
      )
      = a.text_field :alt_phone_2, 'maxLength' => 3, :class => 'phone-3'
      #{'-'}
      = a.text_field :alt_phone_3, 'maxLength' => 4, :class => 'phone-4'
      %span.gray (optional)
    - else
      - unless a.object.alt_phone_1.blank?
        (#{a.object.alt_phone_1}) #{a.object.alt_phone_2} - #{a.object.alt_phone_3}

- if fields.blank? || fields.include?('email')
  %p
    - if template
      = check_box_tag :email, '', template_fields.include?('email'), :class => 'template_check_box'
    = a.label :email, 'Email Address:'
    - if editable
      = a.email_field :email, :class => 'validate[custom[email]]'
    - else
      = a.object.email


- if fields.blank? || fields.include?('service_branch')
  %p
    - if template
      = check_box_tag :service_branch, '', template_fields.include?('service_branch'), :class => 'template_check_box'
    = a.label :service_branch, 'Branch of Service:'
    - if editable
      = a.select :service_branch, options_for_select(['Air Force', 'Army', 'Coast Guard', 'Marine Corps', 'Navy'], a.object.service_branch), {:include_blank => true}, {:class => 'validate[required]'}
    - else
      %span.capitalize
        = a.object.service_branch

- if fields.blank? || fields.include?('current_status')
  %p
    - if template
      = check_box_tag :current_status, '', template_fields.include?('current_status'), :class => 'template_check_box'
    = a.label :current_status, 'Current Status:'
    - if editable
      = a.select :current_status, options_for_select(['Active Duty', 'National Guard', 'Reserve', 'Veteran'], a.object.current_status), {:include_blank => true}, {:class => 'validate[required]'}
    - else
      %span.capitalize
        = a.object.current_status

- if fields.blank? || fields.include?('medical_center_id')
  - if template
    = check_box_tag :medical_center_id, '', template_fields.include?('medical_center_id'), :class => 'template_check_box'
  - if editable
    %p#medical_center{:class => "#{(['None', nil].include?(a.object.medical_center_other)) ? '' : 'hidden'}"}
      = a.label :medical_center_id, 'Medical Center'
      = a.select :medical_center_id, @medical_centers.collect {|o| [o.name, o.id]}, {:include_blank => true }, {:class => 'validate[required]  select_autocomplete'}
    %p
      = a.radio_button :medical_center_other, "DTR", :class => 'group-medcenter validate[group-medcenter]'
      = a.label :medical_center_other_dtr, 'DTR', :class => 'radio-label'
      = a.radio_button :medical_center_other, "Funeral Assistance", :class => 'group-medcenter validate[group-medcenter]'
      = a.label :medical_center_other_funeral_assistance, 'Funeral Assistance', :class => 'radio-label'
      = a.radio_button :medical_center_other, "Memorial Service", :class => 'group-medcenter validate[group-medcenter]'
      = a.label :medical_center_other_memorial_service, 'Memorial Service', :class => 'radio-label'
      = a.radio_button :medical_center_other, "None", :checked => "#{(['None', nil].include?(a.object.medical_center_other)) ? 'checked' : ''}", :class => 'group-medcenter validate[group-medcenter]'
      = a.label :medical_center_other_none, 'None', :class => 'radio-label'

  - else
    %span.capitalize
      - if ['None', nil].include?(a.object.medical_center_other)
        = a.label :medical_center_id, 'Medical Center:'
        = a.object.medical_center_name
      - else
        = a.label :medical_center_other, 'Medical Center Other:'
        = a.object.medical_center_other

- if fields.blank? || fields.include?('is_inpatient')
  %p
    - if template
      = check_box_tag :is_inpatient, '', template_fields.include?('is_inpatient'), :class => 'template_check_box'
    = a.label :is_inpatient, 'Patient Status:'
    - if editable
      = a.radio_button :is_inpatient, 'true', :class => 'validate[required]'
      = a.label :is_inpatient_true, 'Inpatient', :class => 'radio-label'
      = a.radio_button :is_inpatient, 'false', :class => 'validate[required]'
      = a.label :is_inpatient_false, 'Outpatient', :class => 'radio-label'
    - else
      - if a.object.is_inpatient.nil?
        #{""}
      - elsif a.object.is_inpatient
        Inpatient
      - else
        Outpatient

- if fields.blank? || fields.include?('injury_status')
  %p
    - if template
      = check_box_tag :injury_status, '', template_fields.include?('injury_status'), :class => 'template_check_box'
    = a.label :injury_status, 'Injury Status:'
    - if editable
      = a.radio_button :injury_status, 'Wounded', :class => 'validate[required]'
      = a.label :injury_status_wounded, 'Wounded', :class => 'radio-label'
      = a.radio_button :injury_status, 'Injured', :class => 'validate[required]'
      = a.label :injury_status_injured, 'Injured', :class => 'radio-label'
      = a.radio_button :injury_status, 'Illness', :class => 'validate[required]'
      = a.label :injury_status_illness, 'Illness', :class => 'radio-label'
    - else
      = a.object.injury_status

- if fields.blank? || fields.include?('has_used_heromiles')
  %p
    - if template
      = check_box_tag :has_used_heromiles, '', template_fields.include?('has_used_heromiles'), :class => 'template_check_box'
    = a.label :has_used_heromiles, 'Has the Service Member Used Hero Miles Before?'
    - if editable
      = a.radio_button :has_used_heromiles, 'true', :class => 'validate[required]'
      = a.label :has_used_heromiles_true, 'Yes', :class => 'radio-label'
      = a.radio_button :has_used_heromiles, 'false', :class => 'validate[required]'
      = a.label :has_used_heromiles_false, 'No', :class => 'radio-label'
    - else
      - if a.object.has_used_heromiles.nil?
        #{""}
      - elsif a.object.has_used_heromiles
        Yes
      - else
        No

%p.last_use_date{:class => "#{a.object.has_used_heromiles || template ? '' : 'hidden'}"}
  - if template
    = check_box_tag :last_use_date, '', template_fields.include?('last_use_date'), :class => 'template_check_box'
  = a.label :last_use_date, 'Date of Last Use:'
  - if editable
    = a.date_select :last_use_date, {:order => [:month, :year],
                                     :start_year => Time.zone.now.year,
                                     :end_year => 1973,
                                     :include_blank => true},
                                    {:class => 'validate[required] date-select'}
  - else
    - if a.object.last_use_date.blank?
      #{""}
    - else
      = a.object.last_use_date.strftime("%m/%Y")

.header Flight Information

- if fields.blank? || fields.include?('flight_type')
  %p
    - if template
      = check_box_tag :flight_type, '', template_fields.include?('flight_type'), :class => 'template_check_box'
    = a.label :flight_type, 'Flight Type:'
    - if editable
      = a.radio_button :flight_type, 'Round-trip'
      = a.label :flight_type, 'Round-trip', :class => 'radio-label', :value => 'Round-trip'
      = a.radio_button :flight_type, 'One-way'
      = a.label :flight_type, 'One-way', :class => 'radio-label', :value => 'One-way'

    - else
      - if a.object.flight_type.blank?
        #{""}
      - else
        = a.object.flight_type

- if fields.blank? || fields.include?('depart_from_1_select')
  %p.airport
    - if template
      = check_box_tag :depart_from_1, '', template_fields.include?('depart_from_1_select'), :class => 'template_check_box'
    = a.label :depart_from_1, 'Outbound Flight:', :class => 'depart-label dummy-label'
    - if editable
      %span.validation-child
        = label_tag :outbound_departure, 'Outbound Departure', :class => 'hidden'
        = a.hidden_field :depart_from_1_id, :class => 'template'
        = text_field_tag :depart_from_1_select, a.object.formatted_depart_from_1, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_depart_from_1_id'
      to
      %span.validation-child
        = label_tag :outbound_arrival, 'Outbound Arrival', :class => 'hidden'
        = a.hidden_field :arrive_in_1_id, :class => 'template'
        = text_field_tag :arrive_in_1_select, a.object.formatted_arrive_in_1, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_arrive_in_1_id'
    - else
      = a.object.formatted_depart_from_1
      to
      = a.object.formatted_arrive_in_1

- if fields.blank? || fields.include?('depart_from_2_select')
  %p.airport.return-airport{:class => "#{a.object.flight_type == 'One-way' ? 'hidden' : ''}"}
    - if template
      = check_box_tag :depart_from_2, '', template_fields.include?('depart_from_2_select'), :class => 'template_check_box'
    = a.label :depart_from_2, 'Return Flight:', :class => 'arrive-label dummy-label'
    - if editable
      %span.validation-child
        = label_tag :inbound_departure, 'Inbound Departure', :class => 'hidden'
        = a.hidden_field :depart_from_2_id, :class => 'template'
        = text_field_tag :depart_from_2_select, a.object.formatted_depart_from_2, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_depart_from_2_id'
      to
      %span.validation-child
        = label_tag :inbound_arrival, 'Inbound Arrival', :class => 'hidden'
        = a.hidden_field :arrive_in_2_id, :class => 'template'
        = text_field_tag :arrive_in_2_select, a.object.formatted_arrive_in_2, :placeholder => 'Airport Code', :class => 'airport-select validate[required]', 'data-target' => 'application_arrive_in_2_id'
    - else
      = a.object.formatted_depart_from_2
      to
      = a.object.formatted_arrive_in_2

- if fields.blank? || fields.include?('departure_date')
  %p
    - if template
      = check_box_tag :departure_date, '', template_fields.include?('departure_date'), :class => 'template_check_box'
    = a.label :departure_date, 'Requested Date of Departure:'
    - if editable
      = a.date_select :departure_date, {:start_year => Time.now.year,
                                      :end_year => Time.now.year + 1,
                                      :order => [:month, :day, :year],
                                      :include_blank => true},
                                      {:class => 'validate[required] date-select'}
    - else
      = a.object.formatted_departure_date

- if fields.blank? || fields.include?('return_date')
  %p.return-date{:class => "#{(['Round-trip', 'Multi-city'].include?(a.object.flight_type)) ? '' : 'hidden'}"}
    - if template
      = check_box_tag :return_date, '', template_fields.include?('return_date'), :class => 'template_check_box'
    = a.label :return_date, 'Requested Date of Return:'
    - if editable
      = a.date_select :return_date,{:start_year => Time.zone.now.year,
                                      :end_year => Time.zone.now.year + 1,
                                      :order => [:month, :day, :year],
                                      :include_blank => true},
                                      {:class => 'validate[required] date-select'}
    - else
      = a.object.formatted_return_date

- if fields.blank? || fields.include?('flight_details')
  %p.one_way_reason{:class => "#{a.object.flight_type == 'One-way' ? '' : 'hidden'}"}
    - if template
      = check_box_tag :flight_details, '', template_fields.include?('flight_details'), :class => 'template_check_box'
    = a.label :flight_details, 'Reason for One-way travel:'
    - if editable
      = a.text_area :flight_details, :class => 'validate[required]'
    - else
      = a.object.flight_details

- if fields.blank? || fields.include?('special_request')
  %p
    - if template
      = check_box_tag :special_request, '', template_fields.include?('special_request'), :class => 'template_check_box'
    = a.label :special_request, 'Special Request:'
    - if template
      = a.text_area :special_request, :class => 'validate[required]'
    - else
      - if editable
        = a.check_box :has_special_request, :class => 'has_special_request'
        (examples: need for wheel chair, flight time preferences, lap child)
      - else
        = a.object.special_request

    - unless template
      - if editable
        - unless current_user.is_admin? && a.object.user != current_user
          = a.text_area :special_request, :class => "#{a.object.special_request.blank? ? 'hidden' : ''} validate[required] special_request"


.header Passenger Information


%p
  - if template
    = check_box_tag :travellers, '', template_fields.include?('travellers'), :class => 'template_check_box'
  = a.label :travellers, 'Who Will Be Traveling?'
  - if editable
    = a.radio_button :travellers, 'Family/Friend', :class => 'validate[required]'
    = a.label :travellers, 'Family/Friend', :class => 'radio-label', :value => 'Family/Friend'
    = a.radio_button :travellers, 'Service Member', :class => 'validate[required]'
    = a.label :travellers, 'Service Member', :class => 'radio-label', :value => 'Service Member'
    = a.radio_button :travellers, 'Both', :class => 'validate[required]'
    = a.label :travellers, 'Both', :class => 'radio-label', :value => 'Both'
  - else
    - if a.object.travellers.blank?
      #{""}
    - else
      = a.object.travellers
- unless template
  %p#passenger-count{:class => "#{(a.object.travellers.blank? || a.object.travellers == 'Service Member') ? 'hidden' : ''}"}
    = label_tag :passenger_count, 'Total No. of Passengers:'
    - if editable
      = select_tag :passenger_count, options_for_select(1..AppSettings.first.max_passengers, a.object.persisted_passengers.size), :include_blank => true, :class => 'validate[required]'
    - else
      = a.object.persisted_passengers.size

- unless template
  #passenger-list
    - index = 0
    = a.fields_for :application_passengers do |ap|
      - index += 1
      .passenger{:id => "passenger-#{index}", :class => "#{ap.object.persisted? ? '' : 'hidden'}"}
        - if index == 1
          - if a.object.travellers == 'Family/Friend' || template
            .header Passenger #{index} Information
          - else
            .header Passenger #{index} Information (Service Member)
        - else
          .header Passenger #{index} Information

        %p
          = label_tag "p_#{index}_first_name", "Passenger #{index} Legal Name", :class => 'hidden'
          = ap.label :first_name, 'Legal Name:', :class => 'dummy-label'
          - if editable

            = ap.text_field :first_name, :placeholder => 'Legal First Name', :size => 15, :class => 'validate[required] capitalize passenger-fname'
            = ap.text_field :middle_name, :placeholder => 'MI', :size => 2, :class => 'middle_name passenger-mname capitalize'
            = ap.text_field :last_name, :placeholder => 'Legal Last Name', :size => 15, :class => 'validate[required] capitalize passenger-lname'
            - if ap.object.persisted?
              = ap.hidden_field :_destroy, :value => "#{ap.object.persisted? ? 'false' : 'true'}", :class => 'destroy-passenger'
          - else
            %span.capitalize
              #{ap.object.first_name} #{ap.object.middle_name} #{ap.object.last_name}


        %p.dob
          = label_tag "p_#{index}_dob", "Passenger #{index} Date of Birth", :class => 'hidden'
          = ap.label :date_of_birth, 'Date of Birth:', :class => 'dummy-label'
          - if editable
            = ap.date_select :date_of_birth,{:start_year => Time.now.year,
                                              :end_year => Time.now.year - 110,
                                              :order => [:month, :day, :year],
                                              :include_blank => true},
                                              {:class => 'validate[required] date-select'}
          - else
            = ap.object.date_of_birth.strftime("%m/%d/%Y") unless ap.object.date_of_birth.blank?

        %p.lap_child{:class => "#{ ap.object.is_child? || ap.object.is_lap_child? ? '' : 'hidden'}"}
          = ap.label :is_lap_child, 'Child will:'
          - if editable
            = ap.select :is_lap_child, options_for_select([['be a "lap child"', true],
                                                           ['have his/her own seat', false]], ap.object.is_lap_child)
          - else
            #{ap.object.is_lap_child? ? 'be a "lap child"' : 'have his/her own seat' }

        %p.gender
          = label_tag "p_#{index}_gender", "Passenger #{index} Gender", :class => 'hidden'
          = ap.label :gender, 'Gender:', :class => 'dummy-label'
          - if editable
            = ap.select :gender, options_for_select(['Male', 'Female'], ap.object.gender), {:include_blank => true}, {:class => 'validate[required]'}
          - else
            - if ap.object.gender.blank?
              #{""}
            - else
              = ap.object.gender

        %p
          = label_tag "p_#{index}_relation", "Passenger #{index} Relation to Service Member", :class => 'hidden'
          = ap.label :relation, 'Relation to Service Member:', :class => 'dummy-label'
          - if editable
            = ap.select :relation, options_for_select(['Aunt', 'Brother', 'Brother-in-Law', 'Cousin', 'Daughter', 'Daughter-in-Law', 'Ex-Husband', 'Ex-Wife', 'Father', 'Father-in-Law', 'Fiance', 'Fiancee', 'Friend', 'Grandfather', 'Grandmother', 'Husband', 'Mother', 'Mother-in-Law', 'Nephew', 'Niece', 'Other', 'Self', 'Sister', 'Sister-in-Law', 'Son', 'Step Father', 'Step Mother', 'Uncle', 'Wife'], ap.object.relation), {:include_blank => true}, {:class => 'validate[required] relation'}
          - else
            - if ap.object.relation.blank?
              #{""}
            - else
              = ap.object.relation
        - if index == 1

          %p.city

            = label_tag "p_#{index}_city", "Passenger #{index} City", :class => 'hidden'
            = ap.label :city, 'City:', :class => 'dummy-label'
            - if editable
              = ap.text_field :city, :class => 'validate[required] capitalize'
            - else
              %span.capitalize
                - if ap.object.city.blank?
                  #{""}
                - else
                  = ap.object.city


          %p.state
            = label_tag "p_#{index}_state", "Passenger #{index} State", :class => 'hidden'
            = ap.label :state, 'State:', :class => 'dummy-label'
            - if editable
            = ap.select :state, options_for_select(available_us_states.collect {|x| ["#{x[1]} | #{x[0]}", x[1]]}, ap.object.state), {:include_blank => true}, :class => 'validate[required]'
            - else
              %span.capitalize
                - if ap.object.state.blank?
                  #{""}
                - else
                  = ap.object.state


          %p.phone
            = label_tag "p_#{index}_phone", "Passenger #{index} Phone Number", :class => 'hidden'
            = ap.label :phone_1, 'Phone Number:', :class => 'dummy-label'
            - if editable
              (
              = ap.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]] passenger_1_phone_1'
              )
              = ap.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]] passenger_1_phone_2'
              #{'-'}
              = ap.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]] passenger_1_phone_3'
            - else
              - if ap.object.phone_1.blank?
                #{""}
              - else
                (#{ap.object.phone_1}) #{ap.object.phone_2} - #{ap.object.phone_3}


          %p.email
            = label_tag "p_#{index}_email", "Passenger #{index} Email", :class => 'hidden'
            = ap.label :email, 'Email Address:', :class => 'dummy-label'
            - if editable
              = ap.email_field :email, :class => 'validate[required,custom[email]] passenger_1_email'
            - else
              - if ap.object.email.blank?
                #{""}
              - else
                = ap.object.email

- unless template
  - if editable || !a.object.attachments.blank?
    .header Attachments

    .cw-attachments
      %table
        %thead
          %tr
            %td Type
            %td Description
            %td File
            %td

        %tbody
          - if current_user.is_admin?
            - available_categories = AppSettings.admin_cw_attachment_categories.collect{|x| [x['name'], x['id']]}
          - else
            - available_categories = AppSettings.cw_attachment_categories.collect{|x| [x['name'], x['id']]}
          = a.fields_for :attachments do |at|
            - if at.object.persisted?
              %tr.cw-persisted-attachment
                %td= at.object.category
                %td= at.object.description
                %td
                  %a{:href => at.object.document.url}= at.object.document_file_name
                %td
                  %a.cw-remove-persisted-attachment{:href => '#'} Delete
                  = at.hidden_field :_destroy, :value => 'false', :class => 'destroy-attachment'

              - if at.object.is_required?
                %tr.cw-required-attachment.hidden
                  %td
                    = label_tag :category, at.object.category, :class => 'dummy-label'
                  %td= at.text_field :description

                  %td{:class => 'validation-child'}
                    = label_tag :document, "'#{at.object.category}' attachment", :class => 'hidden'
                    = at.file_field :document, :class => 'validate[required]'
                  %td
                    = at.hidden_field :ref_id, :class => 'ref_id'
            - else
              %tr.cw-required-attachment
                %td
                  - if at.object.is_required?
                    = label_tag :category, at.object.category, :class => 'dummy-label'
                  - else
                    = at.select :category, options_for_select(available_categories)
                %td= at.text_field :description
                %td{:class => 'validation-child'}
                  - if at.object.is_required?
                    = label_tag :document, "'#{at.object.category}' attachment", :class => 'hidden'
                  = at.file_field :document, :class => 'validate[required]'
                %td
                  = at.hidden_field :ref_id
                  - unless at.object.is_required?
                    %a.cw-remove-attachment{:href => '#'} Remove

          = a.fields_for a.object.attachments.new do |at|
            %tr.cw-attachment.hidden
              %td
                = at.select :category, options_for_select(available_categories), {}, {:name => '', :class => 'category-select'}
              %td= at.text_field :description, :name => ''
              %td= at.file_field :document, :class => 'validate[required]', :name => ''
              %td
                = at.hidden_field :ref_id, :class => 'ref_id', :name => ''
                - unless at.object.is_required?
                  %a.cw-remove-attachment{:href => '#'}Remove

      %a.add-cw-attachment.button{:href => '#'} Add Attachment

- unless template
  .header Terms of Uses

  %p
    By clicking the "Submit" button below, I certify the above information to be correct and that the patient has signed DD Form 2870, "Authorization for Disclosure of Information" (or comparable form from other service or agency) authorizing the release of necessary health information to the Fisher House Foundation to process the request for airline tickets.

:javascript
  window.cwAttachmentIndex = parseInt(#{a.object.attachments.size-1});