- template ||= false
- template_fields ||= []
- @hide_cw ||= false
- @hide_admin ||= false
- if @application.group && !template
  - fields = @application.group.fields
- else
  - fields = []

#no-back
  %a{:class => @application.persisted?? '': 'hidden' }

#application-form

  = form_for @application, :html => {:class => 'bp'} do |a|
    = hidden_field_tag :exception_reason
    - @editable ||= a.object.is_editable?(current_user)
    - if current_user.is_admin? && !template
      #application-tabs
        %ul
          %li
            %a{:href => '#case-worker-section'} Case Worker View
          %li
            %a{:href => '#admin-section'} Admin View

        #case-worker-section
          = render :partial => 'applications/case_worker_form', :locals => { :a => a, :editable => @editable, :fields => fields }
          -# = render :partial => 'applications/admin_buttons', :locals => {:a => a}


        #admin-section
          - if a.object.persisted?
            = render :partial => 'applications/admin_form', :locals => {:a => a, :editable => @editable}
          - else
            %h4 Please submit the application first to proceed.
        .application-buttons
          = render :partial => 'applications/admin_buttons', :locals => {:a => a}

    - else
      = render :partial => 'applications/case_worker_form', :locals => { :a => a, :template => template, :template_fields => template_fields, :fields => fields }
      - unless template
        .buttons
          - if a.object.is_editable?(current_user)
            = a.submit 'Save', :class => 'button'
            %a#submit-button.button{:href => '#'} Submit
            = a.submit 'Submit', :class => 'hidden', :id => 'submit-form'
          - elsif a.object.user.id == current_user.id
            %a#add-note-button.button{:href => '#'} Add a Note

          - if a.object.persisted?
            - if ['saved', 'returned'].include?(a.object.state) && a.object.user.id == current_user.id
              = link_to 'Delete', application_path(a.object), :method => :delete, :confirm => 'Are you sure you want to delete this application?', :class => 'button', :title => 'Delete application'
            %a#export-button.button{:href => case_worker_show_application_path(a.object, :pdf)} View/Print/Save


#hidden
  #exception-dialog
    %h3 The following fields are incomplete:

    %ul#exception-list

    %p You can either submit the application after completing the above fields or request an exception.

    .buttons
      %a#request-exception-button.button{:href => '#'} Request Exception
      %a#complete-fields-button.button{:href => '#'} Complete empty fields

    #exception-reason.hidden
      %h4 Why are you requesting an exception?
      = form_tag '/', :id => 'exception_form' do
        = text_area_tag :exception_text, '', :class => 'validate[required]'
      %a#submit-exception-button.button{:href => '#'} Submit


  #add-note-dialog
    = form_for ApplicationNote.new, :html => {:class => 'bp validate'}, :remote => true do |n|
      = n.hidden_field :application_id, :value => @application.id
      = n.hidden_field :user_id, :value => current_user.id


      %div
        = n.label :message, 'Note:'
        %br
        = n.text_area :message, :class => 'validate[required]'

      .buttons
        = n.submit 'Add', :class => 'button'

  - if @application.persisted?
    #export-dialog
      %table
        %tbody
          %tr
            %td Application - Case Worker Sections
            %td
              %a{:href => "/applications/#{@application.id}/export?cw_application=true&view=true"} view
            %td
              %a{:href => "/applications/#{@application.id}/export?cw_application=true&save=true"} save

          - if current_user.is_admin? && !['new', 'saved'].include?(@application.state)
            %tr
              %td Application - Administrator Sections
              %td
                %a{:href => "/applications/#{@application.id}/export?admin_application=true&view=true"} view
              %td
                %a{:href => "/applications/#{@application.id}/export?admin_application=true&save=true"} save

          - if @application.state == 'completed'
            %tr
              %td Ticket Topper
              %td
                %a{:href => "/applications/#{@application.id}/export?itinerary=true&view=true"} view
              %td
                %a{:href => "/applications/#{@application.id}/export?itinerary=true&save=true"} save

          - @application.attachments.select{|x| x.document_content_type == 'application/pdf'}.each do |at|
            - unless at.document_file_name.blank?
              %tr
                %td #{at.document_file_name} (Attachment)
                %td
                  %a{:href => "/applications/#{@application.id}/export?attachment=#{at.id}&view=true"} view
                %td
                  %a{:href => "/applications/#{@application.id}/export?attachment=#{at.id}&save=true"} save

          - @application.admin_attachments.select{|x| x.document_content_type == 'application/pdf'}.each do |at|
            - unless at.document_file_name.blank?
              %tr
                %td #{at.document_file_name} (Attachment)
                %td
                  %a{:href => "/applications/#{@application.id}/export?admin_attachment=#{at.id}&view=true"} view
                %td
                  %a{:href => "/applications/#{@application.id}/export?admin_attachment=#{at.id}&save=true"} save
      %p To print, view the file and select Print from the File menu.

    #email-dialog
      = form_tag mail_application_path(@application), :class => 'bp validate' do
        %p.attachments
          %p
            = check_box_tag :cw_application, 'true', true, :class => 'validate[group-attach] group-attach'
            = label_tag :cw_application, 'Application - Case Worker Sections'

          - if current_user.is_admin? && !['new', 'saved'].include?(@application.state)
            %p
              = check_box_tag :admin_application, 'true', true, :class => 'validate[group-attach] group-attach'
              = label_tag :admin_application, 'Application - Administrator Sections'

          - if @application.state == 'completed'
            %p
              = check_box_tag :itinerary, 'true', true, :class => 'validate[group-attach] group-attach'
              = label_tag :itinerary, 'Itinerary'

          - @application.attachments.select{|x| x.document_content_type == 'application/pdf'}.each do |at|
            - unless at.document_file_name.blank?
              %p
                = check_box_tag "email_attachment_#{at.id}", "true", true, :name => "attachments[#{at.id}]", :class => 'validate[group-attach] group-attach'
                = label_tag "email_attachment_#{at.id}", "#{at.document_file_name} (Attachment)"

          - if current_user.is_admin?
            - @application.admin_attachments.each do |at|
              - unless at.document_file_name.blank?
                %p
                  = check_box_tag "email_attachment_#{at.id}", "true", true, :name => "attachments[#{at.id}]", :class => 'validate[group-attach] group-attach'
                  = label_tag "email_attachment_#{at.id}", "#{at.document_file_name} (Attachment)"

        %p.email_to
          Email To:
          %br

          - unless @application.case_worker_email.blank?
            %p
              = check_box_tag :email_caseworker, 'true', true, :name => 'email_caseworker', :class => 'validate[group-email] group-email'
              = label_tag :email_caseworker, @application.case_worker_email


          - unless @application.email.blank?
            %p
              = check_box_tag :email_service_member, 'true', true, :name => 'email_service_member', :class => 'validate[group-email] group-email'
              = label_tag :email_service_member, @application.email


          %p
            = check_box_tag :email_other, 'true', false, :name => 'email_other', :class => 'validate[group-email] group-email'
            = label_tag :email_other, 'Email another person:'
            = text_field_tag :email_other_address, '', :class => 'validate[email]', :disabled => true

        = submit_tag 'Email', :class => 'button'
