- template ||= false
- template_fields ||= []
- if @application.group
  - fields = @application.group.fields
- else
  - fields = []

- @hide_cw ||= false
- @hide_admin ||= false

#application-form

  = form_for @application, :html => {:class => 'bp'} do |a|
    - @editable = false
    - if current_user.is_admin? && !template
      #application-tabs

        - unless @hide_cw
          .page-title Hero Miles Application - Case Worker Sections
          #case-worker-section
            = render :partial => 'applications/case_worker_form', :locals => { :a => a, :editable => @editable, :fields => fields }

        - unless @hide_admin
          .page-title Hero Miles Application - Administrator Sections
          #admin-section
            - if a.object.persisted?
              = render :partial => 'applications/admin_form', :locals => {:a => a, :editable => @editable}
            - else
              %h4 Please submit the application first to proceed.


    - else
      = render :partial => 'applications/case_worker_form', :locals => { :a => a, :template => template, :template_fields => template_fields, :fields => fields }
