.tag-line{:style => 'text-align: right;font-weight: bold;font-family: "LiberationSerif", serif;'}
  Program of the Fisher House Foundation
  = wicked_pdf_image_tag 'itinerary-logo.gif', :width => '75', :height => '75'
