#ticket-topper

  .logo
    %div
      = wicked_pdf_image_tag 'itinerary_header_logo.jpg', :width => '436', :height => '102'
    - if !@application.airline.blank? && File.exist?("#{Rails.root}/app/assets/images/#{@application.airline.parameterize}.gif")
      %div
        = wicked_pdf_image_tag "#{@application.airline.parameterize}.gif"


  .page-heading ARRIVE/CHECK-IN EARLY FOR SEATING
  .page-heading PASSENGER IS RESPONSIBLE FOR BAGGAGE FEES INCURRED

  %table#details
    %tbody
      %tr.record
        %td Record Locator
        %td= @application.record_locator

      %tr
      %tr.blue
        %td Passenger
        %td Ticket Number

      - @application.application_passengers.each do |ap|
        %tr
          %td= ap.name.gsub(/\b('?[a-z])/) { $1.capitalize }
          %td= ap.ticket_no

  %p.left.blue Flight Information

  %table#flight-info
    %thead
      %tr
        %td Day
        %td Date
        %td Flight
        %td City
        %td Time
        %td Seat

    %tbody
      - @application.outbound_flights.each do |af|
        %tr
          %td= af.departure_date.strftime "%A" unless af.departure_date.blank?
          %td= af.departure_date.strftime "%d %B" unless af.departure_date.blank?
          %td= af.flight_no
          %td
            LV #{af.depart_from}
            %br
            AR #{af.arrive_in}
            %br
          %td
            = af.formatted_departure_time
            %br
            = af.formatted_arrival_time
            %br
          %td
            = af.formatted_seats
      %tr
        %td
          %br

      %tr
        %td
          %br

      - @application.return_flights.each do |af|
        %tr
          %td= af.departure_date.strftime "%A" unless af.departure_date.blank?
          %td= af.departure_date.strftime "%d %B" unless af.departure_date.blank?
          %td= af.flight_no
          %td
            LV #{af.depart_from}
            %br
            AR #{af.arrive_in}
            %br
          %td
            = af.formatted_departure_time
            %br
            = af.formatted_arrival_time
            %br
          %td
            = af.formatted_seats
