#export-accounts
  %table
    %thead
      %tr
        %td Job Title
        %td Name
        %td Email
        %td Medical Center / Organization
        %td Phone
        %td Account Type

    %tbody
      - @accounts.each do |a|
        %tr{:class => cycle('odd','even')}
          %td= a.job_title
          %td= a.full_name
          %td= a.email
          %td= a.org_or_med_center_name
          %td (#{a.phone_1}) #{a.phone_2} - #{a.phone_3}
          %td= a.account_type
