%table
  %thead
    %tr
      %td Job Title
      %td Name
      %td Email
      %td Organization / Medical Center
      %td Phone
      %td Account Type


  %tbody
    - @accounts.each do |a|
      %tr[a]
        %td= a.job_title
        %td= a.full_name
        %td= a.email
        %td= a.organization_name
        %td= a.phone
        %td= a.account_type
