#account-form
  = form_for @user, :html => {:class => 'bp validate'} do |f|

    %p
      = f.label :is_admin, 'Account Type:'
      = f.select :is_admin, options_for_select([['Case Worker', false], ['Administrator', true]], (@user.is_admin?))

    %p
      = f.label :first_name, "Name:"
      = f.text_field :first_name, :size => 15, :placeholder => 'First Name', :class => 'validate[required]'
      = f.text_field :last_name, :size => 15, :placeholder => 'Last Name', :class => 'validate[required]'

    %p
      = f.label :job_title, "Job Title:"
      = f.text_field :job_title, :class => 'validate[required]'

    %p
      = f.label :medical_center_id, 'Medical Center:'
      = f.select :medical_center_id, options_for_select(MedicalCenter.all.collect {|o| [o.name, o.id]},f.object.medical_center_id), {:include_blank => true}, :class => 'validate[group-org] group-org select_autocomplete'

    %p
      = f.label :organization_id, 'Organization:'
      = f.select :organization_id, options_for_select(Organization.sorted.collect{|x| [x.name, x.id]},f.object.organization_id), {:include_blank => true}, :class => 'validate[group-org] group-org select_autocomplete'

    -#
      .other-org{:class => "#{f.object.organization_id.blank? && f.object.persisted? ? '' : 'hidden'}"}

        %p
          = f.label :other_org_name, 'Organization Name:'
          = f.text_field :other_org_name, :class => 'validate[group-org] group-org'

        %p
          = f.label :other_org_abbrev, 'Organization Abbreviation:'
          = f.text_field :other_org_abbrev

        %p
          = f.label :other_org_city, 'Organization City:'
          = f.text_field :other_org_city

    %p
      = f.label :phone_1, 'Phone Number:'
      (
      = f.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      )
      = f.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      #{'-'}
      = f.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]]'

    %p
      = f.label :email, 'E-mail Address:'
      = f.email_field :email, :class => 'validate[required,custom[email]]'

    - if f.object.persisted?
      %p
        = f.label :password, 'New Password:'
        = f.password_field :password

      %p
        = f.label :password_confirmation, 'New Password confirmation:'
        = f.password_field :password_confirmation, :class => 'validate[equals[user_password]]'

    - else
      %p
        = f.label :password, 'Password:'
        = f.password_field :password

      %p
        = f.label :password_confirmation, 'Password Confirmation:'
        = f.password_field :password_confirmation, :class => 'validate[password_required,equals[user_password]]'

    %p
      = f.label :expires_at, 'Expiration Date:'
      = f.date_select :expires_at, :start_year => Time.now.year,
                                    :end_year => Time.now.year + 10,
                                    :order => [:month, :day, :year],
                                    :include_blank => true

    %p
      = f.check_box :receive_notifications
      = f.label :receive_notifications, 'Receive Email notifications'

    .buttons
      - if f.object.persisted?
        - unless @user.is_active?
          = f.submit 'Approve', :class => 'button'
          -# = link_to 'Approve', approve_user_path(@user), :method => :post, :class => 'button'

        = f.submit 'Update', :class => 'button'

        = link_to 'Delete', user_path(@user), :method => :delete, :class => 'button'

      - else
        = f.submit 'Create!', :class => 'button'
