%table
  %thead
    %tr
      %td
      %td Departing
      %td Service Member
      %td Status
      %td Created
      %td Submitted
      %td Completed

  %tbody
    - @applications.each do |a|
      %tr[a]
        %td
          %a{:href => admin_show_application_path(a)} view
        %td= a.formatted_final_departure_date
        %td= a.service_member_name
        %td= a.state.capitalize
        %td= a.created_at.strftime("%m/%d/%Y")
        %td= a.formatted_submission_date
        %td= a.formatted_completion_date
