%table#notifications-table
  %thead
    %tr
      %td
      %td Departure Date
      %td Service Member
      %td Status
      %td Group
      %td Admin
      %td Note Sent
      %td Medical Center / Organization

  %tbody
    - @notifications.each do |n|
      %tr[n]
        %td
          %a{:href => admin_show_application_path(n)} view
        %td= n.formatted_final_departure_date
        %td= n.service_member_name
        %td= n.state.capitalize
        %td= n.group_name
        %td= n.admin_name
        %td= n.formatted_cw_note_date
        %td= n.org_or_med_center_name
