%table#open-applications-table
  %thead
    %tr
      %td
      %td Departure Date
      %td Service Member
      %td Status
      %td Group
      %td Admin
      %td Medical Center / Organization

  %tbody
    - @open.each do |o|
      %tr{:class => "#{(o.is_checked_out? && o.admin != current_user) ? 'taken' : ''} #{o.highlight? ? 'highlight' : ''}"}
        %td.hidden.id= o.id
        %td
          %a.view-open{:href => admin_show_application_path(o)} view
        %td= o.formatted_final_departure_date
        %td= o.service_member_name
        %td= o.state.capitalize
        %td= o.group_name
        %td.admin= o.admin_name
        %td= o.org_or_med_center_name

    -#- @notifications.each do |o|
      %tr.highlight
        %td.hidden.id= o.id
        %td
          %a.view-open{:href => admin_show_application_path(o)} view
        %td= o.formatted_departure_date
        %td= o.service_member_name
        %td= o.state.capitalize
        %td= o.group_name
        %td.admin= o.admin_name
        %td= o.org_or_med_center_name
