#manage-accounts

  .page-title Account Management

  #pending-accounts

    .header.split
      .left Pending Accounts
      .right
        %a#export-pending-accounts{:href => '#'} PRINT/EXPORT

    %table#pending-accounts-table
      %thead
        %tr
          %td
          %td Name
          %td Medical Center / Organization
          %td Email
          %td Type
          %td Expires On

      %tbody
        - @pending.each do |u|
          %tr[u]
            %td= link_to 'view', account_path(u)
            %td= u.full_name
            %td= u.org_or_med_center_name
            %td= u.email
            %td= u.account_type
            %td= u.expires_at.blank? ? '-' : u.expires_at.strftime("%m/%d/%Y")

  #active-accounts

    .header.split
      .left Accounts
      .right
        %a#export-active-accounts{:href => '#'} PRINT/EXPORT

    #account-tools
      #search
        = form_tag '/search/accounts', :class => 'bp' do
          .split
            .left
              = link_to 'Create New Account', new_account_path, :class => 'button'
            .right
              = label_tag :q, 'Search:'
              = text_field_tag :q, params[:q], :class => 'validate[required]'
              = hidden_field_tag :status
              = hidden_field_tag :restrict

              = submit_tag 'Go!', :class => 'button'
              %br
              %a#advanced-search-link{:href => '#'} Advanced search

          #advanced_search.hidden

            %p#search_restrict
              Restrict searched fields to:
              %br
              = check_box_tag :restrict_active
              = label_tag :restrict_active, 'Active Accounts', :class => 'radio-label'

              = check_box_tag :restrict_name
              = label_tag :restrict_name, 'Name', :class => 'radio-label'

              = check_box_tag :restrict_email
              = label_tag :restrict_email, 'Email Address', :class => 'radio-label'

              = check_box_tag :restrict_phone
              = label_tag :restrict_phone, 'Phone Number', :class => 'radio-label'

            %p
              %br
              Medical Center:
              = select_tag :medical_center, options_for_select(MedicalCenter.sorted.collect{ |x| [x.name, x.id]}), :include_blank => true
            %p
              %br
              Organization:
              = select_tag :organization, options_for_select(Organization.sorted.collect{ |x| [x.name, x.id]}), :include_blank => true


    %table#active-accounts-table
      %thead
        %tr
          %td
          %td Name
          %td Medical Center / Organization
          %td Email
          %td Type
          %td Expires On

      %tbody
        - @active.each do |u|
          %tr[u]
            %td= link_to 'view', account_path(u)
            %td= u.full_name
            %td= u.org_or_med_center_name
            %td= u.email
            %td= u.account_type
            %td= u.expires_at.blank? ? '-' : u.expires_at.strftime("%m/%d/%Y")

#hidden
  #export-pending-dialog
    %p
      = link_to 'Print Application', '#', :class => 'button'

    %p
      = link_to 'Download as PDF', administration_accounts_pending_path(:pdf), :class => 'button'

    = form_tag '/administration/accounts/mail_pending', :class => 'bp validate' do
      .split
        .left
          = submit_tag 'Email as PDF', :class => 'button'
        .right
          .wrapper
            = label_tag :pdf_email_p, 'Email:'
            = email_field :pdf_email_p, '', :name => 'email', :class => 'validate[required,custom[email]]'

    %br

  #export-active-dialog
    %p
      = link_to 'Print Application', '#', :class => 'button'

    %p
      = link_to 'Download as PDF', administration_accounts_active_path(:pdf), :class => 'button'

    = form_tag '/administration/accounts/mail_active', :class => 'bp validate' do
      .split
        .left
          = submit_tag 'Email as PDF', :class => 'button'
        .right
          .wrapper
            = label_tag :pdf_email_p, 'Email:'
            = email_field :pdf_email_p, '', :name => 'email', :class => 'validate[required,custom[email]]'

    %br
