#manage-airlines

  .page-title Manage Airline List

  #new_airline
    .header Add an Airline

    = form_for Airline.new, :html => {:class => 'bp'} do |a|
      %p
        = a.label :name, 'Airline Name:'
        = a.text_field :name

      %p
        = a.label :units, 'Reward Units:'
        = a.text_field :units

      %p
        = a.label :conversion, 'Conversion to Miles:'
        = a.text_field :conversion

      .buttons
        = a.submit 'Add', :class => 'button'

  #update_airline
    .header Update or Delete an Airline
    - airline = Airline.first || Airline.new
    = form_for airline, :html => {:class => 'bp'} do |a|
      %p
        = a.label :name, 'Airline Name:'
        = select_tag :name, options_for_select(Airline.unscoped.reload.collect { |x| [x.name, x.id]}), :include_blank => true

      %p
        = a.label :units, 'Reward Units:'
        = a.text_field :units

      %p
        = a.label :conversion, 'Conversion to Miles:'
        = a.text_field :conversion

      %p
        = a.check_box :is_archived
        = a.label :is_archived, 'Archive', :class => 'radio-label'


      .buttons
        %a#update_link.button{:href => '#'} Update
        %a#destroy_link.button{:href => '#'} Delete

- airlines = {}
- Airline.unscoped.reload.each { |x| airlines[x.id] = {:units => x.units, :conversion => x.conversion, :is_archived => x.is_archived }}

:javascript
  var airlines = #{airlines.to_json};
