#manage-airports

  .page-title Manage Airport List

  #new_airline
    .header Add an Airport

    = form_for Airport.new, :html => {:class => 'bp'} do |a|
      %p
        = a.label :name, 'Airport Name:'
        = a.text_field :name

      %p
        = a.label :code, 'Airport Code:'
        = a.text_field :code

      %p
        = a.label :location, 'City:'
        = a.text_field :location

      %p
        = a.label :area, 'State/Region:'
        = a.text_field :area

      %p
        = a.label :country, 'Country:'
        = a.text_field :country

      .buttons
        = a.submit 'Add', :class => 'button'

  #update_airport
    .header Update or Delete an Airport
    - airport = Airport.first || Airport.new
    = form_for airport, :html => {:class => 'bp validate'} do |a|
      %p
        = a.label :name, 'Airport Name:'
        = a.text_field :name, :class => 'airport-select name validate[required]'

      %p
        = a.label :code, 'Airport Code:'
        = a.text_field :code, :class => 'code validate[required]'

      %p
        = a.label :location, 'City:'
        = a.text_field :location, :class => 'city validate[required]'

      %p
        = a.label :area, 'State/Region:'
        = a.text_field :area, :class => 'area validate[required]'

      %p
        = a.label :country, 'Country:'
        = a.text_field :country, :class => 'country validate[required]'

      %p
        = a.check_box :is_archived, :class => 'is_archived'
        = a.label :is_archived, 'Archive', :class => 'radio-label'

      .buttons
        %a#update_link.button{:href => '#'} Update
        %a#destroy_link.button{:href => '#'} Delete
