#applications

  .application-notice
    .notice
      %span.text
        - if AppSettings.notice
          = AppSettings.notice.gsub(/\n/,"<br/>").html_safe
        - else
          Press 'Update' to set the announcement.

      %a#update-notice.button.right{:href => '#'} Update
    .edit-notice.hidden
      - as = AppSettings.first
      = form_for as, :remote => true, :class => 'bp' do |f|
        = f.text_area :applications_notice
        = f.submit 'Save', :class => 'button'

  - if User.inactive.size > 0
    .inactive-accounts
      - if User.inactive.size == 1
        There is 1 account awaiting approval.
      - else
        There are #{User.inactive.size} accounts awaiting approval.

  #search
    = form_tag '/search/applications', :class => 'bp', :id => 'search_applications' do
      .split
        .left
          = link_to 'New Application', admin_new_application_path, :class => 'button'

        .right
          = label_tag :q, 'Search:'
          = text_field_tag :q, params[:q], :class => 'validate[required]'
          = hidden_field_tag :status, "[\"Completed\",\"Submitted\",\"Exceptions\"]" # Default status keep updated checkboxes please
          = hidden_field_tag :restrict
          = hidden_field_tag :from
          = hidden_field_tag :till
          = submit_tag 'Go!', :class => 'button'
          %br
          %a#advanced-search-link{:href => '#'} Advanced search

      #advanced_search.hidden

        Restrict by Medical Center:
        = select_tag :medical_center_id, options_for_select(MedicalCenter.sorted.collect { |x| [x.name, x.id]}), :include_blank => true

        %p
          Restrict by Organization:
          = select_tag :organization_id, options_for_select(Organization.sorted.collect { |x| [x.name, x.id]}), :include_blank => true

        %p#restrict_group
          Restrict by Group:
          = select_tag :group_id, options_for_select(Group.active.collect { |x| [x.name, x.id]}), :include_blank => true

        %p#restrict_branch
          Restrict by Branch of Service:
          = select_tag :branch, options_for_select(['Air Force', 'Army', 'Coast Guard', 'Marine Corps', 'Navy']), :include_blank => true

        %p#search_status
          Restrict searched status to:
          %br
          = check_box_tag :completed, '', true
          = label_tag :completed, 'Completed', :class => 'radio-label'

          = check_box_tag :submitted, '', true
          = label_tag :submitted, 'Submitted', :class => 'radio-label'

          = check_box_tag :exceptions, '', true
          = label_tag :exceptions, 'Exceptions', :class => 'radio-label'

          = check_box_tag :reopened, '', false
          = label_tag :reopened, 'Reopened', :class => 'radio-label'
          %br

          = check_box_tag :declined
          = label_tag :declined, 'Declined', :class => 'radio-label'

          = check_box_tag :saved, '', false
          = label_tag :saved, 'Saved', :class => 'radio-label'

          = check_box_tag :returned, '', false
          = label_tag :returned, 'Returned', :class => 'radio-label'

        %p#search_restrict
          Restrict searched fields to:
          %br
          = check_box_tag :service_member
          = label_tag :service_member, 'Service Member', :class => 'radio-label'

          = check_box_tag :passenger
          = label_tag :passenger, 'Passenger', :class => 'radio-label'

          = check_box_tag :email
          = label_tag :email, 'Email Address', :class => 'radio-label'

        %p#search_dates
          Restrict searched dates to:
          %br
          = label_tag :search_from, 'Start:'
          = date_select nil, :search_from, :order => [:month, :day, :year], :include_blank => true, :start_year => 2005, :end_year => Time.zone.now.year + 1

          = label_tag :search_till, 'End:'
          = date_select nil, :search_till, :order => [:month, :day, :year], :include_blank => true, :start_year => 2005, :end_year => Time.zone.now.year + 1

          = label_tag :date_for, 'For:'
          = select_tag :date_for, options_for_select(['Requested Departure', 'Actual Departure', 'Requested Arrival', 'Actual Arrival', 'Completed', 'Submitted', 'Exceptions', 'Declined', 'Saved', 'Returned', 'Date Booked']), :include_blank => true

        %p#search_fields
          Fields to Display:
          %br
          = check_box_tag :field_departing, 'field_departing', true
          = label_tag :field_departing, 'Departing', :class => 'radio-label'

          = check_box_tag :field_service_member, 'field_service_member', true
          = label_tag :field_service_member, 'Service Member', :class => 'radio-label'

          = check_box_tag :field_status, 'field_status', true
          = label_tag :field_status, 'Status', :class => 'radio-label'

          = check_box_tag :field_created, 'field_created', true
          = label_tag :field_created, 'Created', :class => 'radio-label'
          %br

          = check_box_tag :field_submitted, 'field_submitted'
          = label_tag :field_submitted, 'Submitted', :class => 'radio-label'

          = check_box_tag :field_completed, 'field_completed', true
          = label_tag :field_completed, 'Date Booked', :class => 'radio-label'

          = check_box_tag :field_case_worker, 'field_case_worker', true
          = label_tag :field_case_worker, 'Case Worker', :class => 'radio-label'

          = check_box_tag :field_medical_center, 'field_medical_center', true
          = label_tag :field_medical_center, 'Medical Center', :class => 'radio-label'

        %p.submit
          = submit_tag 'Go!', :class => 'button'


  - unless @notifications.empty?
    #notifications.admin

      .header.split
        .left Case Worker Inquiries/Comments
        .right
          %a#export-notifications{:href => '#'} PRINT/EXPORT

      = render 'administration/notifications'

  #open-applications.admin

    .header.split
      .left Open Applications
      .right
        %a#export-open-applications{:href => '#'} PRINT/EXPORT

    = render 'administration/open_applications'

#hidden
  #checkout-dialog

    %h3 Check Out Application?
    %p
      This application has already been checked out by
      %span.admin-name

    .buttons
      %a.checkout-button.button{:href => '#'} Check Out
      %a.view-button.button{:href => '#'} View Only


  #export-open-dialog
    %table
      %tbody
        %tr
          %td
            Open Applications (PDF)
          %td
            %a#view-export-link{:href => administration_applications_open_path(:view => 'true', :format => 'pdf') } view
          %td
            %a#save-export-link{:href => administration_applications_open_path(:save => 'true', :format => 'pdf') } save
        - if current_user.is_admin?
          %tr
            %td
              All Data (CSV)
            %td
            %td
              %a#save-all-data-link{:href => administration_applications_open_path(:format => 'csv')} save

  #export-notifications-dialog
    %table
      %tbody
        %tr
          %td
            Notifications (PDF)
          %td
            %a#view-export-link{:href => administration_applications_notifications_path(:view => 'true', :format => :pdf) } view
          %td
            %a#save-export-link{:href => administration_applications_notifications_path(:save => 'true', :format => :pdf) } save
        - if current_user.is_admin?
          %tr
            %td
              All Data (CSV)
            %td
            %td
              %a#save-all-data-link{:href => administration_applications_notifications_path(:format => 'csv')} save

