#manage-attachments

  .page-title Manage Attachment Categories

  #new-attachment
    .header Add an Attachment Category

    = form_tag '/app_settings/new_category', :class => 'bp validate', :id => 'new_category_form' do
      %p
        = label_tag :category_name, 'Name:'
        = text_field_tag :category_name, '', :class => 'validate[required]'

      .wrapper
        %p
          = label_tag :display_on, 'Display On:'
          = select_tag :display_on, options_for_select([['Case Worker tab (for Case Workers)','cw'],
                                                        ['Case Worker tab (for Admins)', 'cw_admin'],
                                                        ['Admin tab', 'admin']])
        %p
          = label_tag :is_required, 'Required:'
          = select_tag :is_required, options_for_select([['No', 'false'], ['Yes', 'true']])

      .buttons
        = submit_tag 'Add Category', :class => 'button'


  #update_attachment
    .header Update or Delete an Attachment Category
    - first = AppSettings.attachment_categories_with_emptiness.first
    - attachments = AppSettings.attachment_categories_with_emptiness.collect { |x| [x['name'], x['id']] }
    - unless attachments.blank?
      = form_tag '/app_settings/update_category', :class => 'bp validate', :id => 'update_category_form' do
        %p
          = label_tag :category_id, 'Name:'
          = select_tag :category_id, options_for_select(attachments)

        .wrapper
          %p
            = label_tag :display_on, 'Display On:'
            = select_tag :display_on, options_for_select([['Case Worker tab (for Case Workers)','cw'],
                                                        ['Case Worker tab (for Admins)', 'cw_admin'],
                                                        ['Admin tab', 'admin']])
          %p
            = label_tag :is_required, 'Required:'
            = select_tag :is_required, options_for_select([['No', 'false'], ['Yes', 'true']])
          %p
            = check_box_tag :is_archived, 'true'
            = label_tag :is_archived, 'Archive:', :class => 'radio-label'

        .buttons
          = submit_tag 'Update Category', :class => 'button'
          %a#destroy_link.button{:href => '#', :class => "#{first['is_empty'] ? '' : 'hidden'}"} Delete Category


- categories = {}
- AppSettings.attachment_categories_with_emptiness.each { |x| categories[x['id']] = x}

:javascript

  var attachmentCategories = #{categories.to_json};
