#edit-group

  .page-title Edit '#{@group.name}' Template

  #application-template
    = render :partial => 'applications/form', :locals => {:template => true, :template_fields => @group.fields}

  #form
    = form_for @group, :html => {:class => 'bp'} do |g|
      %p
        = g.hidden_field :name
        = g.hidden_field :fields_data
      .buttons
        %a#submit-group.button{:href => '#'} Save Template
