#manage-groups

  .page-title Group Management

  .header Add New Group

  = form_tag '/administration/groups/new', :class => 'bp validate', :id => 'new_group' do
    .wrapper
      = label_tag :group_name, 'Name:', :class => 'radio-label'
      = text_field_tag :group_name, '', :class => 'validate[required]'
    -#
      .wrapper
        = label_tag :organization_id, 'Organization:'
        = select_tag :organization_id, options_for_select(Organization.sorted.collect{|x| [x.name, x.id]}), :class => 'select_autocomplete'
    .buttons
      = submit_tag 'Create!', :class => 'button'

  .header Available Groups

  = check_box_tag :display_archived
  = label_tag :display_archived, 'Display archived groups?', :class => 'radio-label'

  %table
    %thead
      %tr
        %td Options
        %td Group Name
        -# %td Organization
        %td Created

    %tbody
      - @groups.each do |g|
        %tr[g]
          %td
            %a{:href => edit_group_path(g)} edit template
            |
            %a{:href => show_group_path(g)} applications
            |
            - if g.applications.size == 0
              = link_to 'delete', group_path(g), :method => :delete, :confirm => 'Delete this group?'
            - else
              = link_to 'archive', archive_group_path(g), :method => :post, :confirm => 'Archive this group?', :class => 'archive-lnk'

          %td= g.name

          -#
            %td
              = g.organization.name

          %td= g.created_at.strftime("%m/%d/%Y")

      - @archived.each do |g|
        %tr{:class => 'hidden archived'}[g]
          %td
            %a{:href => show_group_path(g)} applications
            |
            = link_to 'unarchive', unarchive_group_path(g), :method => :post, :confirm => 'Un-archive this group?'

          %td
            %a{:href => show_group_path(g)}= g.name

          %td= g.name
          -#
            %td
              = g.organization.name

          %td= g.created_at.strftime("%m/%d/%Y")
