#manage-medical-centers

  .page-title Manage Medical Centers

  #new-medical-center
    .header Add a Medical Center

    = form_for @medical_center, :html => {:class => 'bp'} do |o|
      %p
        = o.label :name, "Name:"
        = o.text_field :name, :class => 'validate[required]'

      %p
        = o.label :abbreviation, "Abbreviation:"
        = o.text_field :abbreviation, :class => 'validate[required]'

      %p
        = o.label :city, "City:"
        = o.text_field :city, :class => 'validate[required]'

      %p
        = o.label :state, "State:"
        = o.select :state, options_for_select(available_us_states.collect {|x| ["#{x[1]} | #{x[0]}", x[1]]}), {:include_blank => true}, :class => 'validate[required]'
      .buttons
        = o.submit 'Add', :class => 'button'


  #update_medical_center
    .header Update or Delete a Medical Center
    - org = MedicalCenter.unscoped.first || MedicalCenter.new
    = form_for org, :html => {:class => 'bp'} do |o|
      %p
        = o.label :name, "MedicalCenter:"
        = select_tag :name, options_for_select(MedicalCenter.unscoped.collect{|x| [x.name,x.id]}), :class => 'select_autocomplete'

      %p
        = o.label :abbreviation, "Abbreviation:"
        = o.text_field :abbreviation, :class => 'validate[required]'

      %p
        = o.label :city, "City:"
        = o.text_field :city, :class => 'validate[required]'

      %p
        = o.label :state, "State:"
        = o.select :state, options_for_select(available_us_states.collect {|x| ["#{x[1]} | #{x[0]}", x[1]]}), {:include_blank => true}, :class => 'validate[required]'

      %p
        = o.check_box :is_archived
        = o.label :is_archived, 'Archive', :class => 'radio-label'

      .buttons
        %a#update_link.button{:href => '#'} Update
        %a#destroy_link.button{:href => '#'} Delete

- org_list = {}
- MedicalCenter.unscoped.all.each { |x| org_list[x.id] = {:abbrv => x.abbreviation, :city => x.city, :state => x.state, :is_archived => x.is_archived?, :is_empty => x.is_empty? }}

:javascript
  var medical_centers = #{org_list.to_json};
