#settings
  .page-title Settings

  #application-settings
    .header Application Settings
    = form_for AppSettings.first, :html => {:class => 'bp'} do |as|
      %p
        = as.label :max_passengers, 'Maximum No. of Passengers per application:'
        = as.number_field :max_passengers
      %p
        = as.label :max_flights, 'Maximum No. of Flights per application:'
        = as.number_field :max_flights

      %p
        = as.label :highlight_hours, 'Highlight upcoming departures within the next'
        = as.number_field :highlight_hours
        hours

      .buttons
        = as.submit 'Save', :class => 'button'
