#show-application

  -#.top-notice
  -#  = render :partial => 'application_notes/note', :locals => {:n => @application.application_notes.order('created_at desc').first}

  = render 'applications/form'

  #application-notes
    .header History Notes
    - @application.application_notes.order('created_at desc').each do |an|
      = render :partial => 'application_notes/note', :locals => {:n => an}
      %hr