#show-application.admin

  .page-title View Application

  .top-notice
    - notes = @application.application_notes.order('created_at desc')
    = render :partial => 'application_notes/note', :locals => {:n => notes.first}
  - if notes.size > 1
    %a#toggle-application-history{:href => '#'} [+] Show History
    #application-notes.hidden
      - notes[1, notes.size - 1].each do |an|
        = render :partial => 'application_notes/note', :locals => {:n => an}

  = render 'applications/form'
