#registration-form
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'bp validate'}) do |f|

    .wrapper
      - if f.object.errors.size > 0
        .validation-error
          - if f.object.first_name.blank?
            Please enter your first name
          - elsif f.object.last_name.blank?
            Please enter your last name
      = f.label :first_name, 'Name:'
      = f.text_field :first_name, :placeholder => 'First Name', :class => 'validate[required]'
      = f.text_field :last_name, :placeholder => 'Last Name', :class => 'validate[required]'

    .wrapper
      = f.label :job_title, 'Job Title:'
      = f.text_field :job_title, :class => 'validate[required]'

    .wrapper
      = f.label :medical_center_id, 'Medical Center:'
      - if user_signed_in? and !current_user.is_admin
        = f.text_field :medical_center_name, :disabled =>true
      - else
        = f.select :medical_center_id, options_for_select(MedicalCenter.all.collect{|x| [x.name, x.id]}, f.object.medical_center_id),{:include_blank => true}, :class => 'select_autocomplete'

    .wrapper
      = f.label :organization_id, 'Organization:'
      - if user_signed_in? and !current_user.is_admin
        = f.text_field :organization_name, :disabled =>true
      - else
        = f.select :organization_id, options_for_select(Organization.sorted.collect{|x| [x.name, x.id]}, f.object.organization_id),{:include_blank => true}, :class => 'select_autocomplete'

    -#
      .hidden.other-org
        .wrapper
          = f.label :other_org_name, 'Organization Name:'
          = f.text_field :other_org_name

        .wrapper
          = f.label :other_org_abbrev, 'Organization Abbreviation:'
          = f.text_field :other_org_abbrev

        .wrapper
          = f.label :other_org_city, 'Organization City:'
          = f.text_field :other_org_city

    .wrapper
      - if f.object.errors.size > 0 && f.object.phone_1.blank?
        .validation-error
          Please enter your phone number
      = f.label :phone_1, 'Phone:'
      (
      = f.text_field :phone_1, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      )
      = f.text_field :phone_2, 'maxLength' => 3, :class => 'phone-3 validate[required,custom[phone]]'
      #{'-'}
      = f.text_field :phone_3, 'maxLength' => 4, :class => 'phone-4 validate[required,custom[phone]]'


    .wrapper
      - if f.object.errors.size > 0 && (f.object.email.blank? || (f.object.email =~ /^.+@.+\..+$/).nil?)
        .validation-error
          Please enter a valid email
      = f.label :email, 'Email:'
      = f.email_field :email, :class => 'validate[required,custom[email]]'
    .wrapper
      - if f.object.errors
        .validation-error
          - if f.object.errors[:password].include? "can't be blank"
            Please enter a password
          - elsif f.object.errors[:password].include? "doesn't match confirmation"
            Password and confirmation don't match. Please enter them again
      - if f.object.persisted?
        = f.label :password, 'New Password:'
        = f.password_field :password
        %i (leave it empty if you don't want to change it)
      - else
        = f.label :password, 'Password:'
        = f.password_field :password, :class => 'validate[required]'
    .wrapper
      - if f.object.persisted?
        = f.label :password_confirmation, 'New Password confirmation:'
        = f.password_field :password_confirmation, :class => 'validate[equals[user_password]]'
      - else
        = f.label :password_confirmation, 'Password confirmation:'
        = f.password_field :password_confirmation, :class => 'validate[password_required,equals[user_password]]'

    -#- if f.object.persisted?
      .wrapper
        = f.label :current_password, 'Current Password:'
        = f.password_field :current_password, :class => 'validate[required]'

    - unless f.object.persisted?
      %p
        = recaptcha_tags :display => {:theme => 'white'}


    .buttons
      - if f.object.persisted?
        = f.submit 'Update', :class => 'button'
      - else
        .hidden.validation-failed-message
          Please complete all the required fields above to continue.
        = f.submit "Register!", :class => 'button'
        %br
        %br
        Already have an account?
        = link_to 'Sign In here', sign_in_path
