#header-wrapper
  #header
    .tag-line
      %a{:href => 'http://fisherhouse.org'}
        = image_tag 'tag_line.png'
    .logo
      = image_tag 'logo.png'

    -# FIXME - Very messy, clean it up.

    - if user_signed_in?
      #header-nav.nav
        %ul
          - if current_user.is_admin?
            %li
              %a.first{:href => application_management_path, :class => "#{ 'selected' if ['applications', 'show_application', 'new_application'].include?(controller.action_name)}" } APPLICATIONS
            %li
              %a{:href => account_management_path, :class => "#{ 'selected' if (['accounts', 'new_account', 'show_account'].include?(controller.action_name) || controller.controller_name == 'registrations')}" } ACCOUNTS
            %li
              %a{:href => report_management_path, :class => "#{ 'selected' if controller.action_name == 'reports' || controller.controller_name == 'reports'}" } REPORTS
            %li.last
              %a{:href => group_management_path, :class => "#{ 'selected' if ['groups', 'new_group', 'show_group', 'edit_group', 'medical_centers', 'airlines', 'settings', 'organizations', 'airports', 'attachments'].include?(controller.action_name)}" } ADVANCED
          - else
            %li
              %a.first{:href => case_worker_applications_path, :class => "#{ 'selected' if ['applications', 'new_application', 'show_application'].include?(controller.action_name)}" } APPLICATIONS
            %li
              %a{:href => case_worker_accounts_path, :class => "#{ 'selected' if (controller.action_name == 'accounts' || controller.controller_name == 'registrations')}" } ACCOUNT
            %li
              %a{:href => case_worker_reports_path, :class => "#{ 'selected' if controller.action_name == 'reports'}" } REPORTS
            %li.last
              %a{:href => case_worker_groups_path, :class => "#{ 'selected' if ['groups', 'show_group'].include?(controller.action_name)}" } ADVANCED

  - if user_signed_in?
    - if ((controller.controller_name == 'administration' && controller.action_name == 'accounts') || (controller.controller_name == 'registrations'))
      #header-sub-nav.nav
        - if current_user.is_admin?
          %a{:href => account_management_path, :class => "#{ 'selected' if controller.action_name == 'accounts'}"} Account Management
        %a{:href => edit_user_registration_path(current_user), :class => "#{ 'selected' if controller.controller_name == 'registrations'}"} Update Information
        %a.last{:href => sign_out_path } Sign Out
    - elsif ['groups', 'show_group', 'edit_group', 'new_group', 'airlines', 'medical_centers', 'settings', 'organizations', 'airports', 'attachments'].include?(controller.action_name)
      #header-sub-nav.nav
        - if current_user.is_admin?
          %a{:href => group_management_path, :class => "#{ 'selected' if ['groups', 'new_group', 'show_group', 'edit_group'].include?(controller.action_name)}"} Groups
          %a{:href => organization_management_path, :class => "#{ 'selected' if controller.action_name == 'organizations'}"} Organizations
          %a{:href => medical_center_management_path, :class => "#{ 'selected' if controller.action_name == 'medical_centers'}"} Medical Centers
          %a{:href => airline_management_path, :class => "#{ 'selected' if controller.action_name == 'airlines'}"} Airlines
          %a{:href => airport_management_path, :class => "#{ 'selected' if controller.action_name == 'airports'}"} Airports
          %a{:href => attachments_path, :class => "#{ 'selected' if controller.action_name == 'attachments'}"} Attachments
          %a.last{:href => settings_path, :class => "#{ 'selected' if controller.action_name == 'settings'}"} Miscellaneous
        - else
          %a.last{:href => case_worker_groups_path, :class => "#{ 'selected' if ['groups', 'show_group'].include?(controller.action_name)}"} Groups
