$('.edit-notice textarea').val('<%= escape_javascript(@as.applications_notice)%>');
$('.application-notice .text').html('<%= escape_javascript(@as.applications_notice.gsub(/\n/,"<br/>").html_safe)%>');
$('#update-notice').click();
