- if n
  .notice{:class => "#{n.user.is_admin? ? 'admin-notice' : 'user-notice'}"}
    = n.created_at.strftime "%m/%d/%Y %l:%M %p"
    #{"-"}
    %span.bold
      - if n.is_action
        = n.status
      - else
        Note
    by
    = n.user.full_name
    (#{n.user.organization_name})
    - unless n.message.blank?
      %br
      = simple_format n.message
