$("#add-note-dialog").dialog('close');
var partial = '<%= escape_javascript(render(:partial => "application_notes/note", :locals => {:n => @an})) %>';
var last = '<%= escape_javascript(render(:partial => "application_notes/note", :locals => {:n => @last})) %>';
$("#application-notes").prepend(last).hide().slideDown();

$(".top-notice").html(partial);
