%table#notifications-table
  %thead
    %tr
      %td
      %td Departure Date
      %td Service Member
      %td Status
      %td Admin Note

  %tbody
    - @notifications.each do |n|
      %tr[n]{:class => "#{(!n.has_note?) ? '' :((n.last_note_by_admin?)? 'admin-note' : 'case-worker-note') } "}
        %td
          %a{:href => case_worker_show_application_path(n)} view
        %td= n.formatted_final_departure_date
        %td= n.service_member_name
        %td= n.state.capitalize
        %td= n.formatted_admin_note_date
