#notifications-table
  %table
    %thead
      %tr
        %td Departure Date
        %td Service Member
        %td Status
        %td Admin Note

    %tbody
      - @notifications.each do |n|
        %tr{:class => cycle('odd', 'even')}
          %td= n.formatted_final_departure_date
          %td= n.service_member_name
          %td= n.state.capitalize
          %td= n.formatted_admin_note_date
