#open-applications
  %table
    %thead
      %tr
        %td Departure Date
        %td Service Member
        %td Status
        %td Created

    %tbody
      - @open.each do |o|
        %tr{:class => cycle('odd', 'even')}
          %td= o.formatted_final_departure_date
          %td= o.service_member_name
          %td= o.state.capitalize
          %td= o.created_at.strftime("%m/%d/%Y")
