%table#open-applications-table
  %thead
    %tr
      %td
      %td Departure Date
      %td Service Member
      %td Status
      %td Created

  %tbody
    - @open.each do |o|
      %tr[o]{:class => "#{['submitted'].include?(o.state)? ((!o.has_note?) ? '' :((o.last_note_by_admin?)? 'admin-note' : 'case-worker-note')) : '' } "}
        %td
          %a{:href => case_worker_show_application_path(o)} view
        %td= o.formatted_final_departure_date
        %td= o.service_member_name
        %td= o.state.capitalize
        %td= o.created_at.strftime("%m/%d/%Y")
