#applications

  .page-title Applications

  .application-notice
    - if AppSettings.first && !AppSettings.first.applications_notice.blank?
      .notice= AppSettings.first.applications_notice.gsub(/\n/,"<br/>").html_safe

  #search
    = form_tag '/search/applications', :class => 'bp', :id => 'search_applications' do
      .split
        .left
          = link_to 'New Application', case_worker_new_application_path, :class => 'button'
        .right
          = label_tag :q, 'Search:'
          = text_field_tag :q, params[:q], :class => 'validate[required]'
          = hidden_field_tag :status, "[\"Completed\",\"Submitted\",\"Exceptions\",\"Saved\",\"Returned\"]"
          = hidden_field_tag :restrict
          = hidden_field_tag :from
          = hidden_field_tag :till
          = submit_tag 'Go!', :class => 'button'
          %br
          %a#advanced-search-link{:href => '#'} Advanced search

      #advanced_search.hidden

        Show all applications for #{current_user.organization_name}
        = check_box_tag :all_users, 'true', false

        - if current_user.organization
          %p#restrict_group
            Restrict by Group:
            = select_tag :group_id, options_for_select(current_user.organization.groups.active.collect { |x| [x.name, x.id]}), :include_blank => true

        %p#search_status
          Restrict searched status to:
          %br
          = check_box_tag :completed, '', true
          = label_tag :completed, 'Completed', :class => 'radio-label'

          = check_box_tag :submitted, '', true
          = label_tag :submitted, 'Submitted', :class => 'radio-label'

          = check_box_tag :exceptions, '', true
          = label_tag :exceptions, 'Exceptions', :class => 'radio-label'

          = check_box_tag :reopened, '', false
          = label_tag :reopened, 'Reopened', :class => 'radio-label'
          %br

          = check_box_tag :declined
          = label_tag :declined, 'Declined', :class => 'radio-label'

          = check_box_tag :saved, '', true
          = label_tag :saved, 'Saved', :class => 'radio-label'

          = check_box_tag :returned, '', true
          = label_tag :returned, 'Returned', :class => 'radio-label'

        %p#search_restrict
          Restrict searched fields to:
          %br
          = check_box_tag :service_member
          = label_tag :service_member, 'Service Member', :class => 'radio-label'

          = check_box_tag :passenger
          = label_tag :passenger, 'Passenger', :class => 'radio-label'

          = check_box_tag :email
          = label_tag :email, 'Email Address', :class => 'radio-label'

        %p#search_dates
          Restrict searched dates to:
          %br
          = label_tag :search_from, 'Start:'
          = date_select nil, :search_from, :order => [:month, :day, :year], :include_blank => true, :start_year => 2005, :end_year => Time.zone.now.year + 1

          = label_tag :search_till, 'End:'
          = date_select nil, :search_till, :order => [:month, :day, :year], :include_blank => true, :start_year => 2005, :end_year => Time.zone.now.year + 1

          = label_tag :date_for, 'For:'
          = select_tag :date_for, options_for_select(['Requested Departure', 'Actual Departure', 'Requested Arrival', 'Actual Arrival', 'Completed', 'Submitted', 'Exceptions', 'Declined', 'Saved', 'Returned', 'Date Booked']), :include_blank => true

        %p.submit
          = submit_tag 'Go!', :class => 'button'


  #open-applications

    .header.split
      .left Open Applications
      %span#cw-unanswered-note-box
      %b &nbsp  Unanswered Note
      %span#cw-answered-note-box
      %b &nbsp  Answered Note
      .right
        %a#export-open-applications{:href => '#'} PRINT/EXPORT

    = render 'case_worker/open_applications'

  #notifications

    .header.split
      .left Notifications
      %span#cw-unanswered-note-box
      %b &nbsp  Unanswered Note
      %span#cw-answered-note-box
      %b &nbsp  Answered Note
      .right
        %a#export-notifications{:href => '#'} PRINT/EXPORT

    = render 'case_worker/notifications'

  = form_tag '/search/applications', :class => 'search' do
    = hidden_field_tag :status, "[\"Completed\",\"Submitted\",\"Exceptions\",\"Declined\"]"
    %a.view-all-link{:href => '#'} View all
    %br

#hidden
  #export-open-dialog
    %table
      %tbody
        %tr
          %td
            Search Results (PDF)
          %td
            %a#view-export-link{:href => case_worker_applications_open_path(:view => 'true', :format => :pdf) } view
          %td
            %a#save-export-link{:href => case_worker_applications_open_path(:save => 'true', :format => :pdf) } save


  #export-notifications-dialog
    %table
      %tbody
        %tr
          %td
            Notifications (PDF)
          %td
            %a#view-export-link{:href => case_worker_applications_notifications_path(:view => 'true', :format => :pdf) } view
          %td
            %a#save-export-link{:href => case_worker_applications_notifications_path(:save => 'true', :format => :pdf) } save
