#show-groups

  .page-title Group Management

  .header Available Groups

  %table
    %thead
      %tr
        %td Options
        %td Group Name
        %td Created

    %tbody

      - Group.active.each do |g|
        %tr[g]
          %td
            %a{:href => case_worker_show_group_path(g)} applications

          %td
            %a{:href => case_worker_show_group_path(g)}= g.name

          %td= g.created_at.strftime("%m/%d/%Y")
