#reports

  .page-title Reports

  .header Available Reports

  %table
    %thead
      %tr
        %td Options
        %td Report Name

    %tbody
      %tr
        %td
          %a{:href => AppSettings.first.blank_application.url } view

        %td Printable Blank Application
#hidden

  #upload-blank-dialog
    %h4 Upload a printable blank application:

    = form_for AppSettings.first, :html => {:class => 'bp'} do |as|

      = as.file_field :blank_application
      = as.submit 'Upload'
      = hidden_field_tag :blank_application, true

  #summary-dialog
    %h4 Please set the following date range:

    = form_tag '/reports/summary', :class => 'bp validate' do

      .wrapper
        = label_tag :year_from, 'Start Year:'
        = select_tag :year_from, options_for_select(2008..Time.now.year), :include_blank => true, :class => 'validate[required]'

      .wrapper
        = label_tag :year_till, 'End Year:'
        = select_tag :year_till, options_for_select(2008..Time.now.year), :include_blank => true, :class => 'validate[required]'

      .wrapper
        = label_tag :medical_center, 'Medical Center:'
        = select_tag :medical_center, options_for_select(MedicalCenter.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .wrapper
        = label_tag :organization, 'Organization:'
        = select_tag :organization, options_for_select(Organization.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .buttons
        = submit_tag 'Generate Report', :class => 'button'

  #monthly-dialog
    = form_tag '/reports/monthly', :class => 'bp validate' do

      .wrapper
        = label_tag :med_monthly, 'Medical Center:'
        = select_tag :med_monthly, options_for_select(MedicalCenter.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .wrapper
        = label_tag :org_monthly, 'Organization:'
        = select_tag :org_monthly, options_for_select(Organization.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .buttons
        = submit_tag 'Generate Report', :class => 'button'

  #branch-dialog
    %h4 Please set the following parameters:

    = form_tag '/reports/branch_airline', :class => 'bp validate' do

      .wrapper
        = label_tag :branch, 'Branch or Airline'
        %br

        = radio_button_tag :branch, 'branch', true
        = label_tag :branch_branch, 'Branch of Service'
        %br
        = radio_button_tag :branch, 'airline'
        = label_tag :branch_airline, 'Airline'

      .wrapper
        = label_tag :type, 'Tickets or Savings or Miles'
        %br

        = radio_button_tag :type, 'ticket', true
        = label_tag :type_ticket, 'Ticket'
        %br

        = radio_button_tag :type, 'savings'
        = label_tag :type_savings, 'Savings'
        %br

        = radio_button_tag :type, 'miles'
        = label_tag :type_miles, 'Miles'
        %br

      .wrapper
        = label_tag :year, 'Year'
        %br

        = select_tag :year, options_for_select(2008..Time.now.year)

      .wrapper
        = label_tag :med, 'Medical Center'
        %br
        = select_tag :med, options_for_select(MedicalCenter.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .wrapper
        = label_tag :org, 'Organization'
        %br
        = select_tag :org, options_for_select(Organization.sorted.collect { |x| [x.name, x.id]}), :prompt => 'All'

      .buttons
        = submit_tag 'Generate Report', :class => 'button'
