#show-group

  .page-title #{@group.name} Group Application Entry


  %a.button{:href => case_worker_new_application_path(:group => @group.id)} Add an Application

  .header.split
    .left Applications
    .right
      %a#export-applications{:href => '#'} PRINT/EXPORT

  = render 'case_worker/group_applications'

  = paginate @applications

#hidden
  #export-applications-dialog
    %p
      = link_to 'Print Application', '#', :class => 'button'

    %p
      = link_to 'Download as PDF', case_worker_show_group_path(:format => :pdf, :id => params[:id], :page => params[:page]), :class => 'button'

    = form_tag case_worker_mail_group_path(:id => params[:id], :page => params[:page]), :class => 'bp validate' do
      .split
        .left
          = submit_tag 'Email as PDF', :class => 'button'
        .right
          .wrapper
            = label_tag :pdf_email_p, 'Email:'
            = email_field :pdf_email_p, '', :name => 'email', :class => 'validate[required,custom[email]]'

    %br
