Dear <%= @user.full_name %>

We are pleased to confirm that your Hero Miles account has been approved and is now active.

You can sign into your account at http://heromiles.fisherhouse.org

Thank You

Fisher House
