<%= @note.application.user.full_name %> has added a note to their Hero Miles Application:

"<%= @note.message %>"

You can view the application at

http://heromiles.fisherhouse.org/administration/applications/<%= @note.application.id %>
