<% state = @application.state.capitalize %>
<% if state == 'Exception' %>
  <% state = 'Submitted as an Exception' %>
<% end %>

A Hero Miles application for <%= @application.first_name %> <%= @application.last_name %> has been <%= state %> by <%= @application.user.full_name %>:

http://heromiles.fisherhouse.org/administration/applications/<%= @application.id %>
