<%= @note.application.admin.full_name %> has added a note to your Hero Miles Application:

"<%= @note.message %>"

You can view the application at

http://heromiles.fisherhouse.org/case_worker/applications/<%= @note.application.id %>
