Dear <%= @user.full_name %>

Your Hero Miles application for <%= @application.first_name %> <%= @application.last_name %> has been <%= @application.state.capitalize %>.

You can view the application at

http://heromiles.fisherhouse.org/case_worker/applications/<%= @application.id %>

Thank You

Fisher House
