A new user has signed up:

First Name: <%= @user.first_name %>
Last Name: <%= @user.last_name %>

Email: <%= @user.email %>

Job Title: <%= @user.job_title %>

<% if @user.organization %>
Organization: <%= @user.organization.name %>
<% end %>

Account Type: <%= @user.is_admin? ? 'Administrator' : 'Case Worker' %>

Thank You,
Fisher House
