// Place all the styles related to the Administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
  color: #333;
  font-weight: bold;
  background-color: #ddd;
  padding: 5px 10px;
  margin: 15px 0px 5px 0px;
  text-align: center;
}

table {
  border: 1px solid #CCCCCC;
  margin: 5px 0px;
  thead {
    td {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
    }
  }
}

#account-tools {
  margin: 15px 0px;
}

form.bp {
  width: 600px;
  margin: auto;
  padding-top: 15px;
  .validation-failed {
    label {
      color: red;
    }
    td {
      label {
        color: red;
      }
    }
  }
  .wrapper, p {
    @include clearfix;
    margin: 10px 0px;
  }
  label {
    margin-right: 13px;
    display: inline-block;
    width: 100px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .upcase {
    text-transform: uppercase;
  }

  .downcase {
    text-transform: lowercase;
  }

  input[type='submit'] {
    float: none;
  }
  input[type='email'], input[type='password'] {
    width: 300px !important;
  }
  input.text, input.title, input[type='email'], input[type='text'], input[type='password'] {
    width: 200px;
    margin: 0px 10px 5px 0px;
  }
  .right-wrapper {
    margin-left: 150px;
    label {
      display: inline;
    }
  }
  select {
    margin: 0px 10px 5px 0px;
  }
  .buttons {
    text-align: center;
    .buttons-divider {
      vertical-align: middle;
      display: inline-block;
      padding: 0px 5px;
      width: 5px;
      height: 42px;
      background: transparent url(buttons-divider.png) no-repeat center;
    }
  }
  .phone-3 {
    width: 36px !important;
    float: none;
    margin-right: 0px !important;
  }
  .phone-4 {
    width: 48px !important;
    float: none;
  }
  .radio-label {
    float: none;
    width: auto;
  }
  input[type='radio'] {
    float: none;
  }
  textarea {
    height: 75px;
  }
}

.inactive-accounts {
  color: #f00;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#open-applications-table, #notifications-table {
  tr.case-worker-note{
    background: #FFFF66 !important;
  }
  tr.admin-note{
    background: #99FF99 !important;
  }
  tr.highlight {
    color: #c00 !important;
    background: #fff !important;
  }
}

#account-form {
  label {
    margin-right: 13px;
    display: inline-block;
    width: auto !important;
  }
}

#app_settings_applications_notice {
  height: 140px;
  width: 800px;
  vertical-align: top;
  margin-bottom: 20px;
}

#cw-unanswered-note-box{
  background-color: yellow;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
}

#cw-answered-note-box{
  background-color: #99FF99;
  width: 15px;
  height: 15px;
  display:inline-block;
  margin-left: 100px;
}