// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#application-form {
  form.bp {
    width: 725px !important;
    .middle_name {
      width: 25px !important;
    }
    label {
      margin-right: 13px;
      display: inline-block;
      width: auto !important;
    }
    textarea {
      vertical-align: top;
    }
  }
  .application-buttons {
    margin-top: 15px;
  }
}

#application-notes {
  margin-top: 15px;
  .notice {
    margin: 10px 0px;
    p {
      margin: 0px !important;
    }
  }
}

.ui-dialog {
  form.bp {
    width: auto !important;
  }
  label {
    width: auto !important;
  }
}

.flight-seats {
  margin-bottom: 25px;
  border-bottom: 1px solid #999;
}

.application_note_messageformError, .exception_textformError {
  z-index: 9990 !important;
}

form#new_application_note {
  width: 390px !important;
}

#exception-dialog {
  text-align: center;
  ul {
    text-align: left;
    list-style-type: none;
  }
  #exception-reason {
    margin-top: 20px;
  }

  #exception-list {
    height: 150px;
    overflow-y: auto;
  }
}

#checkout-dialog {
  text-align: center;
  .admin-name {
    font-weight: bold;
  }
}

.template_check_box {
  float: left !important;
  margin-right: 20px !important;
}

#export-dialog {
  input[type=submit] {
    margin-top: 10px !important;
  }
}

#outbound-flight-list, #return-flight-list {
  select {
    margin: 0px !important;
  }
  label, input {
    margin-right: 2px !important;
  }
}

.view-all-link{

    float: right;
    margin-right: 8px;
}

.category-select{
    width: 100%;
}
