// Variables

// Font
$serif: serif;
$sans: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
$sans2: Arial,Helvetica,sans-serif;

$font-size-regular: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;

form.bp {
  @include blueprint-form;
}

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include container;
  overflow: auto !important;

  font-family: $sans;
  background-color: #4D6E95;

  #container {
    @include column(24);
    background-color: #4D6E95;
  }

}