// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up-confirmation {
  text-align: center;
  p {
    font-size: $font-size-large;
  }
}
