.page-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header {
  color: #333;
  font-weight: bold;
  background-color: #ddd;
  padding: 5px 10px;
  margin: 15px 0px 5px 0px;
  text-align: center;
}


table {
  border: 1px solid #CCCCCC;
  margin: 5px 0px;
  thead {
    td {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
    }
  }
}

form.bp {
  margin: auto;
  padding-top: 15px;

  .middle_name {
    width: 25px !important;
  }
  label {
    margin-right: 13px;
    display: inline-block;
    width: auto !important;
  }

  .validation-failed {
    label {
      color: red;
    }
  }
  .wrapper, p {
    overflow: hidden;
    margin: 10px 0px;
  }
  label {
    margin-right: 13px;
    display: inline-block;
    width: 100px;
    color: #333;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .upcase {
    text-transform: uppercase;
  }

  .downcase {
    text-transform: lowercase;
  }

  input[type='submit'] {
    float: none;
  }
  input[type='email'], input[type='password'] {
    width: 300px !important;
  }
  input.text, input.title, input[type='email'], input[type='text'], input[type='password'] {
    width: 200px;
    margin: 0px 10px 5px 0px;
  }
  .right-wrapper {
    margin-left: 150px;
    label {
      display: inline;
    }
  }
  select {
    margin: 0px 10px 5px 0px;
  }
  .buttons {
    text-align: center;
  }
  .phone-3 {
    width: 36px !important;
    float: none;
    margin-right: 0px !important;
  }
  .phone-4 {
    width: 48px !important;
    float: none;
  }
  .radio-label {
    float: none;
    width: auto;
  }
  input[type='radio'] {
    float: none;
  }
  textarea {
    height: 75px;
  }
}

#ticket-topper {
  font-weight: bold;
  font-family: "LiberationSerif", serif;
  text-align: center;
  table {
    border: 0px;
  }
  .blue {
    color: #002060;
  }
  .left {
    text-align: left;
  }
  #details {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    td {
      padding-right: 45px;
    }
    .record {
      color: #c00;
      font-size: 165%;
      td {
        padding-bottom: 25px;
      }
    }
  }
  p.left.blue {
    margin-top: 45px;
    margin-bottom: 5px;
  }
  #flight-info {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        td {
          text-decoration: none;
          border-bottom: 1px solid black;
        }
      }

    }
    tbody {
      tr {
        border-bottom: 0px;
        td {
          padding-bottom: 10px;
          vertical-align: top;
          border-bottom: 0px;
        }
      }
    }
  }
  .logo {
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;
    img {
      margin-bottom: 20px;
    }
  }
}

#branch-report, #summary-report, #monthly-report {
  text-align: center;
  .sub-title {
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      padding: 10px 0px;
      &.even {
        background-color: #ddd;
      }
    }
  }
}

.search, #export-accounts, #open-applications, #notifications {
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      padding: 10px 0px;
      &.even {
        background-color: #ddd;
      }
    }
    td {
      padding: 5px;
    }
  }
}

#hidden, .hidden {
  display: none;
}

.report-attachment-table{
  width: 100%;
}