// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.validation-failed-message {
  font-weight: bold;
  color: #f00;
}