// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#summary-report, #branch-report, #monthly-report {
  text-align: center !important;
}

#branch-dialog {
  form {
    width: 300px !important;
  }
}