// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#advanced_search {
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
  p {
    margin: 10px 0px;
    border-top: 1px solid #ccc;
    &.submit {
      margin-top: 15px;
      text-align: right;
      border-top: 0px;
    }
  }
  .radio-label {
    display: inline-block;
    width: 150px !important;
    color: #999;
  }
}