#hidden, .hidden {
  display: none !important;
}

#content-wrapper {
  border: 15px solid #223D5B;
  #content {
    border: 7px solid #ccc;
    background-color: #fff;
    padding: 10px;
    min-height: 450px;
    &.sessions {
      min-height: 350px !important;
    }
  }
}

#footer {
  color: #fff;
  background-color: #223D5B;
  font-family: $serif;
  font-size: $font-size-small;
  text-align: center;
}

#header-wrapper {
  #header {
    height: 150px;
    background: transparent url(/assets/header2.png) no-repeat center top;
    position: relative;
    .tag-line {
      float: right;
      margin-top: 15px;
      margin-right: 5px;
    }
    .logo {
      position: absolute;
      z-index: 100;
      top: 75px;
    }

    .nav {
      position: absolute;
      bottom: 0px;
      right: 0px;
      ul {
        list-style-type: none;
        margin: 0px !important;
        padding: 0px !important;
      }
      li {
        background: transparent url(/assets/bgr_libdr.png) no-repeat right 3px;
        display: inline-block;
        &.last {
          background: none;
          a {
            margin-right: 0px !important;
          }
        }
      }
      a {
        font-size: $font-size-large;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        padding: 5px 15px;
        margin-right: 8px;
        &.selected {
          background: #223D5B;
          &:hover {
            color: #fff;
          }
        }
        &:hover {
          color: #223D5B;
        }
      }
    }
  }
  #header-sub-nav {
    background-color: #223D5B;
    text-align: center;
    padding-top: 10px;
    a {
      padding: 15px 15px 0px 15px;
      color: #fff;
      background: transparent url(/assets/bgr_libdr_white.png) no-repeat right 17px;
      &.selected {
        font-weight: bold;
        color: #EFAF3C;
      }
      &.last {
        background: none;
      }
    }
  }
}

.split {
  @include clearfix;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

a {
  text-decoration: none !important;
  &.button {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
    color: #4F4F4F !important;
  }
}

.ui-dialog-titlebar.ui-widget-header {
  background: #990000 !important;
  color: #fff;
  border: 1px solid #990000 !important;
}

.ui-dialog {
  border: 1px solid #990000 !important;
}

.right {
  float: right;
}

.notice {
  @include clearfix;
  &.user-notice {
    background-color: #eee !important;
    border-color: #ccc !important;
    color: #666 !important;
  }
}

input[type=text] {
  &.five-chars {
    width: 45px !important;
  }
  &.ten-chars {
    width: 90px !important;
  }
}

.pagination {
  text-align: right;
}

#search {
  form {
    width: auto !important;
    padding-top: 0px !important;
    label {
      float: none !important;
      width: auto !important;
    }
  }
}

.bold {
  font-weight: bold;
}

.page-title {
  font-size: $font-size-large;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  font-size: $font-size-medium;
  font-weight: bold;
  text-align: center;
}

ul.ui-autocomplete {
  list-style-type: none !important;
}

input[type=submit].button {
  font-weight: bold !important;
  font-size: 14px !important;
}

.ui-tabs-panel {
  padding: 15px 10px !important;
}

.sign_up_button{
  margin-top: 75px;
  margin-right: 10px;
  float: right;
}