// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in {
  margin-top: 35px;
  form.bp {
    width: 800px;
    p, .wrapper {
      margin-left: 50px;
    }
    label {
      width: 75px !important;
      &.radio-label {
        width: auto !important;
      }
    }
    .recaptcha_input_area {
      label {
        width: auto !important;
      }
    }
    /* .buttons {
      margin-left: 150px;
      margin-top: 25px;
      .new_account {
        float: right;
      }
    }*/
  }
}

#user-registration {
  label {
    margin-right: 13px;
    display: inline-block;
    width: auto !important;
  }
}
