- opts = {:branch => params[:branch], :type => params[:type], :year => params[:year], :org => params[:org], :med => params[:med]}

#branch-report
  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report

  .heading
    - case params[:type]
      - when 'ticket'
        No. of tickets issued by
      - when 'savings'
        Savings by
      - when 'miles'
        Miles by

    = params[:branch].capitalize

    - if @org
      by #{@org.name}

    - if @med
      at #{@med.name}

  #results
    - if @results.blank?
      No results found
    - else
      %table
        %thead
          %tr
            %td
            - @results.values.first.keys.each do |b|
              %td= b

        %tbody
          - @results.each do |k,v|
            %tr
              %td.first= k
              - v.each do |k2,v2|
                %td
                  - case params[:type]
                    - when 'ticket'
                      #{number_with_delimiter v2}
                    - when 'savings'
                      #{number_to_currency v2}
                    - when 'miles'
                      #{number_with_delimiter v2}

          %tr.total
            %td #{params[:year]} Total
            - @total.each do |t|
              %td
                - case params[:type]
                  - when 'ticket'
                    #{number_with_delimiter t}
                  - when 'savings'
                    #{number_to_currency t}
                  - when 'miles'
                    #{number_with_delimiter t}

  .center
    %a#view-report-link.button{:href => branch_report_path(opts.merge({:format => 'pdf', :view => true})) } View/Print
    %a#save-report-link.button{:href => branch_report_path(opts.merge({:format => 'pdf'}))} Save
    %a#mail-report-link.button{:href => '#'} Email

#hidden
  #mail-report-dialog

    = form_tag '/reports/branch_airline', :class => 'bp validate' do
      = hidden_field_tag :branch, '', :value => params[:branch], :name => 'branch'
      = hidden_field_tag :type, '', :value => params[:type], :name => 'type'
      = hidden_field_tag :year, '', :value => params[:year], :name => 'year'
      = hidden_field_tag :org, '', :value => params[:org], :name => 'org'
      = hidden_field_tag :med, '', :value => params[:med], :name => 'med'
      = hidden_field_tag :mail, true, :value => true, :name => 'mail'

      .wrapper
        = label_tag :email, 'Email:'
        = email_field :email, '', :name => 'email', :class => 'validate[required,custom[email]]'

      .buttons
        = submit_tag 'Email as PDF', :class => 'button'

    %br
