#branch-report
  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report

  .header
    - case params[:type]
      - when 'ticket'
        No. of tickets issued by
      - when 'savings'
        Savings by
      - when 'miles'
        Miles by

    = params[:branch].capitalize

    - if @org
      by #{@org.name}

    - if @med
      at #{@med.name}


  #results
    - if @results.blank?
      No results found
    - else
      %table
        %thead
          %tr
            %td
            - @results.values.first.keys.each do |b|
              %td= b

        %tbody
          - @results.each do |k,v|
            %tr{:class => cycle('odd','even')}
              %td.first= k
              - v.each do |k2,v2|
                %td
                  - case params[:type]
                    - when 'ticket'
                      #{number_with_delimiter v2}
                    - when 'savings'
                      #{number_to_currency v2}
                    - when 'miles'
                      #{number_with_delimiter v2}

          %tr.total.bold
            %td #{params[:year]} Total
            - @total.each do |t|
              %td
                - case params[:type]
                  - when 'ticket'
                    #{number_with_delimiter t}
                  - when 'savings'
                    #{number_to_currency t}
                  - when 'miles'
                    #{number_with_delimiter t}
