#monthly-report

  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report

  .header
    #{'#'} of Tickets Issued
    - if @org
      by #{@org.name}
    - if @med
      at #{@med.name}

  #monthly
    - if @results.blank?
      %p No results found
    - else
      %table
        %thead
          %tr
            %td
            - @results.keys.each do |y|
              %td= y

        %tbody
          - 12.times do |m|
            %tr{:class => cycle('even', 'odd')}
              - month = Date::MONTHNAMES[m+1]
              %td.bold= month
              - @results.each do |k,v|
                %td= v[month]

          %tr.total.even
            %td.bold Total Tickets:
            - @results.each do |k,v|
              %td= number_with_delimiter v['tickets']

          %tr.odd
            %td.bold Total Savings:
            - @results.each do |k,v|
              %td= number_to_currency v['savings']

          %tr.even
            %td.bold Total Miles:
            - @results.each do |k,v|
              %td= number_with_delimiter v['miles']
