- opts = {:org_monthly => params[:org_monthly], :med_monthly => params[:med_monthly]}

#monthly-report

  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report

  .heading
    #{'#'} of Tickets Issued
    - if @org
      by #{@org.name}
    - if @med
      at #{@med.name}

  #monthly
    - if @results.blank?
      %p No results found
    - else
      %table
        %thead
          %tr
            %td
            - @results.keys.each do |y|
              %td= y

        %tbody
          - 12.times do |m|
            %tr
              - month = Date::MONTHNAMES[m+1]
              %td.bold= month
              - @results.each do |k,v|
                %td= v[month]

          %tr.total
            %td.bold Total Tickets:
            - @results.each do |k,v|
              %td= number_with_delimiter v['tickets']

          %tr
            %td.bold Total Savings:
            - @results.each do |k,v|
              %td= number_to_currency v['savings']

          %tr
            %td.bold Total Miles:
            - @results.each do |k,v|
              %td= number_with_delimiter v['miles']
  .center
    %a#view-report-link.button{:href => monthly_report_path(opts.merge({:format => 'pdf', :view => true})) } View/Print
    %a#save-report-link.button{:href => monthly_report_path(opts.merge({:format => 'pdf'}))} Save
    %a#mail-report-link.button{:href => '#'} Email



#hidden
  #mail-report-dialog

    = form_tag '/reports/monthly', :class => 'bp validate' do
      = hidden_field_tag :org_monthly, '', :value => params[:org_monthly], :name => 'org_monthly'
      = hidden_field_tag :med_monthly, '', :value => params[:med_monthly], :name => 'med_monthly'
      = hidden_field_tag :mail, true, :value => true, :name => 'mail'

      .wrapper
        = label_tag :email, 'Email:'
        = email_field :email, '', :name => 'email', :class => 'validate[required,custom[email]]'

      .buttons
        = submit_tag 'Email as PDF', :class => 'button'

    %br
