#summary-report
  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report


  #yearly
    - if @yearly.blank?
      %p
        No results found
    - else
      .header Yearly Totals
      %table
        %thead
          %tr
            %td
            - @yearly.each do |k,v|
              %td= k

        %tbody
          %tr.odd
            %td Tickets
            - @yearly.each do |k,v|
              %td= number_with_delimiter v['tickets']
          %tr.even
            %td Value
            - @yearly.each do |k,v|
              %td= number_to_currency v['value']
          %tr.odd
            %td Mileage
            - @yearly.each do |k,v|
              %td= number_with_delimiter v['mileage']

  #total
    - unless @total.blank?
      .header Grand Totals(#{params[:year_from]}-#{params[:year_till]})

      %table
        %tbody
          %tr.odd
            %td Total Tickets:
            %td= number_with_delimiter @total['tickets']

          %tr.even
            %td Total Value:
            %td= number_to_currency @total['value']

          %tr.odd
            %td Total Miles:
            %td= number_with_delimiter @total['mileage']
