- opts = {:year_from => params[:year_from], :year_till => params[:year_till], :organization => params[:organization], :medical_center => params[:medical_center]}

#summary-report
  .page-title Fisher House Foundation, Inc.
  .sub-title Hero Miles Report


  #yearly
    - if @yearly.blank?
      %p
        No results found
    - else
      .title Yearly Totals
      %table
        %thead
          %tr
            %td
            - @yearly.each do |k,v|
              %td= k

        %tbody
          %tr
            %td Tickets
            - @yearly.each do |k,v|
              %td= number_with_delimiter v['tickets']
          %tr
            %td Value
            - @yearly.each do |k,v|
              %td= number_to_currency v['value']
          %tr
            %td Mileage
            - @yearly.each do |k,v|
              %td= number_with_delimiter v['mileage']

  #total
    - unless @total.blank?
      .title Grand Totals(#{params[:year_from]}-#{params[:year_till]})

      %table
        %tbody
          %tr
            %td Total Tickets:
            %td= number_with_delimiter @total['tickets']

          %tr
            %td Total Value:
            %td= number_to_currency @total['value']

          %tr
            %td Total Miles:
            %td= number_with_delimiter @total['mileage']

  .center
    %a#view-report-link.button{:href => summary_report_path(opts.merge({:format => 'pdf', :view => true})) } View/Print
    %a#save-report-link.button{:href => summary_report_path(opts.merge({:format => 'pdf'}))} Save
    %a#mail-report-link.button{:href => '#'} Email


#hidden
  #mail-report-dialog

    = form_tag '/reports/summary', :class => 'bp validate' do
      = hidden_field_tag :year_from, '', :value => params[:year_from], :name => 'year_from'
      = hidden_field_tag :year_till, '', :value => params[:year_till], :name => 'year_till'
      = hidden_field_tag :organization, '', :value => params[:organization], :name => 'organization'
      = hidden_field_tag :medical_center, '', :value => params[:medical_center], :name => 'medical_center'
      = hidden_field_tag :mail, true, :value => true, :name => 'mail'


      .wrapper
        = label_tag :email, 'Email:'
        = email_field :email, '', :name => 'email', :class => 'validate[required,custom[email]]'

      .buttons
        = submit_tag 'Email as PDF', :class => 'button'


    %br
