!!!5
%html

  %head
    %title Hero Miles

    = stylesheet_link_tag "application", 'jquery-ui-1.8.7.custom', 'validationEngine.jquery.css'
    /[if IE 7]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.bp
    #container
      = render 'shared/header'
      #content-wrapper
        #content{:class => "#{controller.controller_name == 'sessions' ? 'sessions' : ''}"}
          .alert.hidden
            = alert
          .success.hidden
            = notice

          = yield

    = render 'shared/footer'
